@charset "utf-8";
/* CSS Document */

/* import font Roboto */
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700|Roboto:300,400,500,700');

body {
    font-family: Verdana,Geneva,sans-serif;
    font-weight: 300;
    color: #181717;
    text-align: justify;
    /*font-size: 19px;*/
}
/*
   -----------------  menu css start -----------
*/
.phHeader .navbar {
    height: 65px;
}

.navbar a {
    transition: all .3s ease;
}

.logo {
    width: 220px;
}

.logo-link {
    z-index: 200;
}
.followus {
    padding: 7px 5px 0 0;
    font-size:16px;
}
.nav-flex-icons li.nav-item a.nav-link {
    border: 1px solid #a5a7a9;
    width: 32px;
    height: 32px;
    margin: 2px;
    text-align: center;
    line-height: 32px;
    padding: 0px;
    border-radius: 32px;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

    .nav-flex-icons li.nav-item a.nav-link.gplus-icon {
        color: #D54235;
        border-color: #D54235;
    }

.nav-flex-icons li.nav-item:hover a.nav-link {
    color: #fff;
}

.nav-flex-icons li.nav-item .fb-icon {
    border-color: #3B5A95;
    color: #3B5A95;
}

.nav-flex-icons li.nav-item:hover a.nav-link.fb-icon {
    background: #3B5A95;
}

.nav-flex-icons li.nav-item .tw-icon {
    border-color: #20BEEA;
    color: #20BEEA;
}

.nav-flex-icons li.nav-item:hover .tw-icon {
    background-color: #20BEEA;
}

.nav-flex-icons li.nav-item:hover .gplus-icon {
    background: #D54235;
}

.navbar .mega-dropdown {
    position: static !important;
}

.special-color-dark {
    /*background: url(../images/nav-bg.png) repeat-x center;*/
    background-color: #2f374c;
}

.topMenuHorizontal {
    font-family: 'Roboto', Arial,sans-serif;
    padding: 0px 15px;
    height: 42px;
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show > .nav-link {
    background-color: rgba(29,143,231,1);
    color: #fff;
    cursor: pointer;
}

.navbar-dark .navbar-nav .nav-link {
    line-height: 42px;
    padding: 0 15px;
    color: #fff;
    font-size: 17px;
}

.navbar .dropdown-menu.mega-menu {
    width: 100%;
    background-color: #6c6c6c;
    border: none;
    border-radius: 0;
    margin-top: 0;
}

    .navbar .dropdown-menu.mega-menu.v-2 a {
        padding: 0px 25px 0px;
        display: block;
    }

        .navbar .dropdown-menu.mega-menu.v-2 a.news-title-2 {
            font-weight: 500;
            font-size: 1.1rem;
            line-height: 1.5;
            -webkit-transition: .2s;
            transition: .2s;
            color: #fff !important;
        }

            .navbar .dropdown-menu.mega-menu.v-2 a.news-title-2:hover {
                color: #d0d6e2 !important;
            }

    .navbar .dropdown-menu.mega-menu.v-2 .sub-menu ul {
        list-style: none;
    }

        .navbar .dropdown-menu.mega-menu.v-2 .sub-menu ul.caret-style li {
            -webkit-transition: .3s;
            transition: .3s;
        }

            .navbar .dropdown-menu.mega-menu.v-2 .sub-menu ul.caret-style li:hover {
                background-color: rgba(29,143,231,1);
                -webkit-transition: .3s;
                transition: .3s;
            }

            .navbar .dropdown-menu.mega-menu.v-2 .sub-menu ul.caret-style li a:after {
                font-family: "fontAwesome";
                content: '\f105';
                position: absolute;
                left: 0.5rem;
                font-size: 12px;
                top: 50%;
                transform: translateY(-50%);
            }

    .navbar .dropdown-menu.mega-menu.v-2 .sub-menu a.menu-item {
        color: #d9d9d9 !important;
        position: relative;
        font-size: 17px;
    }

    .navbar .dropdown-menu.mega-menu.v-2 .sub-menu li:hover a.menu-item {
        color: #fff !important;
        text-decoration: none;
    }

    .navbar .dropdown-menu.mega-menu.v-2 .sub-title {
        padding-bottom: 1rem;
        margin-bottom: 1rem;
        border-bottom: 1px solid;
        font-weight: 400;
        font-size: 20px;
    }

    .navbar .dropdown-menu.mega-menu.v-2 .font-small {
        font-size: 0.85rem;
    }

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

.stickyad-t {
    position: fixed;
    top: 30px;
}
.stickyad-b {
    position: fixed;
    bottom: 450px;
}
.header-ad-div {
    display: block;
}
/* search  */
.collapse.navbar-collapse {
    padding-right: 40px;
}

input[type="text"]#q {
    height: 40px;
    display: inline-block;
    border: none;
    outline: none;
    /*color: #ccc;*/
    font-weight: 300;
    padding: 3px;
    padding-right: 30px;
    background: transparent;
    width: 0px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    z-index: 9;
    transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
    cursor: pointer;
}

    input[type="text"]#q:focus:hover {
        border-bottom: 1px solid #5bb1f4;
    }

    input[type="text"]#q:focus {
        width: 340px;
        z-index: 7;
        border: 1px solid #5bb1f4;
        border-radius: 4px;
        cursor: text;
        outline: none;
        background-color: #f3f3f3;
        box-shadow: none;
    }

#search_submit {
    height: 42px;
    width: 30px;
    display: inline-block;
    border: none;
    position: absolute;
    top: 0;
    right: 15px;
    z-index: 8;
    cursor: pointer;
    opacity: 0.8;
    cursor: pointer;
    /*transition: opacity .4s ease;*/
}

/*#search_submit:focus {
        outline: none;
        box-shadow: none;
    }*/

input[type="text"]:focus + .input-group-btn #search_submit {
    color: #101010 !important;
}

#search_submit :hover {
    opacity: 1;
}

/* ./search */

/* menu left */
button.navbar-toggler.d-block.d-md-none {
    border: none;
    outline: none !important;
}

#navbarLeft {
    top: 107px;
    padding-bottom: 0;
    padding-right: 0;
    height: 100%;
    width: 250px;
    background-color: transparent;
    /*display:block;*/
    position: fixed !important;
    z-index: 111;
}

.menuVerticalParent {
    position: fixed;
    top: 0;
    padding-top: 107px;
    padding-bottom: 0;
    height: 100%;
    width: 250px;
    background-color: transparent;
}

.menuVertical {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #181717;
    font-size: 19px;
    padding: 0;
    list-style: none;
    background: #f3f3f3;
    height: 100%;
    align-items: flex-start;
    width: 250px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-bottom: 0;
    margin-bottom: 0;
}

    .menuVertical li ul {
        padding-left: 20px;
    }

    .menuVertical .menu-title {
        display: block;
        padding: 0.5rem 1rem;
        border-bottom: 1px solid #e2e2e2;
        font-weight: 500;
    }

    .menuVertical li a {
        display: block;
        padding: 0.5rem 1rem;
        cursor: pointer;
        border-bottom: 1px solid #e2e2e2;
        color: #000;
        font-size: 15px;
        text-align: left;
    }

    .menuVertical li ul li a {
    }

    .menuVertical li a.active, .menuVertical li a:hover, .menuVertical ul li a:hover {
        background-color: #2a91e1;
        color: #fff;
        text-decoration: none;
    }

    .menuVertical li ul {
        padding: 0;
    }

        .menuVertical li ul li {
            list-style: none;
        }

            .menuVertical li ul li a {
                text-decoration: none;
                padding-left: 40px;
                font-size: 14px;
            }

/* 
   -----------------  menu css  ends -----------
*/
/* middle content */
#middleContent {
    margin-left: 250px;
}

.articleContent {
    margin-left: 100px;
}

.title {
    font-weight: 400;
    margin-bottom: 0.5em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

h1 {
    font-size: 26px;
    margin-bottom: 1.5rem;
}

h2 {
    font-size: 23px;
    /*border-left: 20px solid #006E90;*/ /*#2590e3*/
    /*padding: 0.5rem 0.8rem 0.5rem 0.8rem;*/ /*0.8rem;*/
    /*background-color: #95B8D1;*/ /*#565656*/
    margin: 2rem 0 1rem 0;
    /*color: white;*/
}

h3 {
    font-size: 18px;
    border-left: 20px solid #768693;
    padding: 0.5rem 0.8rem 0.5rem 0.8rem;
    background-color: #dddddd;
    margin: 2rem 0 1.5rem 0;
}

.article {
    min-height: 600px;
}

p {
    font-size: 16px;
    line-height: 1.9rem;
    text-align: justify;
    word-wrap: break-word;
}

figcaption {
    text-align: center;
    color: #5e6061 !important;
    font-size: 16px !important;
    /*background: none repeat scroll 0 0 #E7E7EA;*/
    padding: 5px;
}

figure {
    margin: 5px 0 10px 0;
    border: 0; /*1px solid #899c9e;*/
    text-align: center;
}

    figure img {
        /*width: 100%;*/
        /*margin: 5px 0 10px 0;*/
        max-width: 100%;
        height: auto;
    }

.info {
    background-color: #dff0fc;
    padding: 1.5rem 1rem 1.5rem 1rem;
    margin: 0.5rem 0 0.5rem 0;
}

    .info h3 {
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        border: 0;
        background-color: transparent;
        margin: 0 0 1rem 0;
        padding: 0;
        color: #45647A;
        font-size: 20px;
    }

    .info p {
        font-size: 15px;
    }

.intro {
    background-color: #dff0fc;
}

b, strong {
    font-weight: 600;
}

ol {
    padding-left: 25px;
    position: relative;
    line-height: 1.9rem;
}

.list {
    padding-left: 25px;
    position: relative;
    list-style: none;
    line-height: 1.9rem;
}

    .list li:before {
        content: "\f105";
        font-family: fontAwesome;
        color: #2590e3;
        position: absolute;
        left: 5px;
    }

    .list li .dt, .list li .dd {
        margin-right: 0;
        font-weight: 400;
        display: inline;
    }

.tips-block {
    border: 1px solid #d7d7d7;
    border-radius: 4px;
    padding: 15px 15px 5px 15px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: "Kozuka Gothic Pro EL";
    font-weight: normal;
    color: #5b5b5b;
    font-size: 17px;
    line-height: 20px;
    margin-left: 10px;
}

    .tips-block span {
        float: left;
        width: 100%;
        margin-top: -30px;
    }

        .tips-block span img {
            float: left;
            margin-left: -20px;
        }

.external-link, .detail-link {
    color: #407FB0;
    text-decoration: none !important;
}

    .external-link:hover, .detail-link:hover {
        color: #1B364A;
    }

    .external-link:after {
        font-family: 'FontAwesome';
        content: " \f08e";
        font-size: 0.75rem;
        padding-left: 5px;
    }

.devmed-lb {
    width: 728px;
    height: 90px;
}

.tt-ad-header {
    display: block;
    width: 728px;
    height: 90px;
}

.outputLabel {
    display: table;
    margin-top: 15px;
    padding: 3px 5px 3px 5px;
    background-color: #B7B5B5;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    color: black;
}

samp {
    width: 100%;
    padding: 10px 10px 10px 10px;
    display: inline-block;
    margin-bottom: 20px;
    border: 5px solid #B7B5B5;
    background-color: #5F5B5B;
    color: #fff;
}

    samp b {
        font-size: 18px;
    }

    samp pre {
        color: #fff;
    }

.syntax {
    padding: 0 1.25rem 1.25rem 1.25rem;
    background-color: #2b74a2;
    margin-bottom: 1.25rem;
    border: 0;
    border-radius: 0;
}

.syntax-title {
    color: #fff;
    padding-left: 0;
    background-color: transparent;
    border: 0;
    font-size: 17px !important;
}

.syntax pre {
    margin-bottom: 0;
}

.newsLetter {
    font-size: 0.9rem;
    background-color: #2b74a2;
    padding: 0.5rem 1rem 0.5rem 1rem;
    color: #fff;
}


.tryitLink, .start-learning {
    background: #246EB9; /*2b74a2*/
    color: #fff;
}

    .tryitLink:hover, .start-learning:hover {
        background: #2b90e1;
        color: #fff;
    }

.card-header {
    font-size: 22px;
    font-weight: normal;
}

.card.code-panel.bg-light {
    background-color: #eaeaea !important;
}

.code-panel {
    background-color: #D8E5EE;
    padding: 0 1.25rem 0 1.25rem;
    border: 0;
    border-radius: 0;
    margin-bottom: 1.25rem;
}

.code-panel-without-title {
    padding: 0 1.25rem 0 1.25rem;
    background-color: #fff;
    border: 1px solid #2590e3;
    border-radius: 0;
    margin-bottom: 1.25rem;
}

.example-title, .example-footer {
    background-color: transparent;
    border: 0;
    padding-left: 0;
}


.panel-body {
    color: #101010;
}

article pre {
    border: 0;
    background-color: inherit;
    margin-bottom: 10px;
}

p code, ol li code, ul li code {
    border: 1px solid #AFB2B5;
    background-color: #f9f9f9;
    color: #000;
    padding: 0 5px 0 5px;
    border-radius: 3px;
    font-size: 16px;
    white-space: nowrap;
}

    p code.singleLineCode {
        padding: .5rem .5rem;
    }

.noteDiv {
    border-radius: 0;
    margin-bottom: 1.25rem;
}

    .noteDiv .card-header {
        background: #E3E9ED;
        margin-bottom: 0;
        padding: 0.5rem 0.5rem 0.5rem 1rem;
        border-radius: 0;
    }

    .noteDiv .card-body {
        color: #101010;
        padding: 0.5rem 1rem 0.5rem 1rem;
        border-radius: 0;
    }

.card.points {
    background-color: #EBF4FA;
    border: 0;
    border-radius: 0;
    margin-bottom: 1.25rem;
}

.points .card-header {
    background-color: transparent;
    border: 0;
    padding-bottom: 0;
}

.points .card-body {
    padding: 1.25rem 0 0 1.3em;
}

.points ol, .ul-table {
    counter-reset: item;
    list-style-type: none;
    margin-left: 0;
    padding: 0;
}

    .points ol li {
        padding-left: 1.3em;
        position: relative;
        margin-bottom: 0.5em;
    }

        .points ol li:before {
            content: counter(item) ")"; /*Instead of ". " */
            counter-increment: item;
            position: absolute;
            left: 0;
        }

.navigation {
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    padding: 0.5rem;
}

    .navigation i {
        font-size: 18px;
    }

    .navigation .btn {
        width: 120px;
        text-align: center;
        background-color: #F6F7FA;
        color: #505D89;
        border-color: #BFC6DD;
    }

        .navigation .btn:hover, .navigation .btn.active {
            background-color: #2b90e1;
            color: #fff;
            border-color: #2b90e1;
        }

#back-top a {
    position: fixed;
    bottom: 20px;
    right: 2px; 
    border: 2px solid #86bc42;
    background-color: transparent;
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 24px;
    z-index: 100;
    color: #86bc42;
    transition: all .5s ease-in-out;
}

    #back-top a:hover {
        background-color: #86bc42;
        color: #fff;
    }
/*Javascript example form*/
.formDiv {
    margin: 5px 5px 5px 5px;
    padding: 5px 5px 5px 5px;
    width: 90%;
}

    .formDiv fieldset {
        border: none;
        margin: 0;
    }

    .formDiv label {
        width: 18%;
        margin: 5px 5px 5px 5px;
        display: block;
        float: left;
    }

    .formDiv span:after {
        content: "*";
        color: red;
    }

    .formDiv input {
        width: 30%;
        margin: 5px 5px 5px 5px;
    }

/* table */
.table {
    font-size: 16px;
}

    .table td, .table th {
        padding: 0.5rem;
    }

    .table thead th {
        vertical-align: bottom;
        background: #63a9e0;
        font-weight: normal;
        color: #fff;
    }

.table-bordered td, .table-bordered th {
    border: 1px solid #dfdfdf;
}

.table tbody td {
    color: #414141;
    font-size: 14px;
}

.table tbody tr:nth-child(odd) {
    background: #fff;
}

.table tbody tr:nth-child(even) {
    background: #f9f9f9;
}

.ul-table li {
    padding-left: 1em;
    position: relative;
}

    .ul-table li:before {
        content: "\f105";
        font-family: fontawesome;
        position: absolute;
        left: 0;
    }

.article-table tr th {
    font-weight: 400;
    background-color: #63a9e0;
    color: #fff;
    font-size: 18px;
}

.article-table tr td {
    font-size: 16px;
}

/* table ends */
.articleContent h1 {
 margin-bottom:3px;
}
.article-info {
    margin-bottom: 5px
}

    .article-info .item {
        text-transform: capitalize;
        display: inline-block;
        font-size: 14px;
    }

        .article-info .item:last-child {
            margin: 0;
        }

            .article-info .item:last-child:after {
                display: none
            }

        .article-info .item:after {
            content: '|';
            margin: 0 5px;
            color: #bfc9ce;
        }
.faq {
    background-color: #FFFFFF;
    padding: 30px 20px 10px 20px;
}
.article-info {
    color: #6f8190;
    font-size: 13px;
}
.article-author {
    border-left: 5px solid #eaedf5;
    padding: 15px;
    min-height: 150px;
    display: -webkit-flex;
    -webkit-align-items: center;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #fafafa;
    margin-bottom: 10px
}

    .article-author img.author-image {
        width: 100px;
        height: 100px;
        border-radius: 50%
    }

    .article-author .author a {
        font-size: 18px;
        font-weight: bold
    }

    .article-author .position {
        color: #242c42;
        margin-bottom: 10px;
        font-size:13px;
    }

    .article-author .media-left {
        padding-right: 0px
    }

    .article-author .media-body {
        padding-left: 30px
    }
.media-body .des p {
    font-size: 15px;
    color: #6f8190;
}

.media-body .des a {
margin:5px;
}

.author-info {
    color: #6f8190;
}
.further-reading {
    border-radius: 0;
    margin-bottom: 1.25rem;
    border-color: #6dafda;
}

    .further-reading .card-header {
        background-color: #6dafda;
        border-radius: 0;
        color: #314756;
        padding: 0.5rem 1rem 0.5rem 1rem;
    }

    .further-reading .card-body {
        padding: 0.5rem 0.5rem 0 0.5rem;
    }

#social-platforms ul {
    list-style-type: none;
    padding-left: 10px;
}

.test-panel pre {
    font-family: Verdana, Geneva, Tahoma, Arial, Helvetica, sans-serif;
    font-size: 16px;
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: normal;
}

.question pre {
    border: none;
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding-left: 0;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}

.quizLabel {
    font-size: 18px;
    color: #425A70;
    margin: 5px 0 5px 0;
}

.test-option {
    font-weight: 400;
    font-size: medium;
    height: auto;
}
/*Pen code from this point on*/

#social-platforms li a {
    display: block;
    width: 100%;
    padding: 0;
    font-size: 14px;
}

.btn-icon > span, .btn-icon > i {
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
    line-height: 35px;
}

.btn-icon > span {
    padding-left: 0.5em;
    padding-right: 0.5em;
    line-height: 35px;
    width: calc(100% - 40px);
    display: inline-block;
    white-space: nowrap;
    color: #FFF;
    background: #b8b8b8;
}

.btn:focus > span {
    background: #9a9a9a;
}

.btn-icon > i {
    position: relative;
    width: 40px;
    display: inline-block;
    height: 35px;
    text-align: center;
    font-size: 1.25em;
    color: #fff;
    background: #212121;
}

    .btn-icon > i:after {
        content: "";
        border: 8px solid;
        border-color: transparent transparent transparent #222;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: -15px;
    }

.btn-icon:hover > i, .btn-icon:focus > i {
    color: #FFF;
}

/*Facebook*/
.btn-facebook:hover > i, .btn-facebook:focus > i {
    color: #3b5998;
}

.btn-facebook > span {
    background: #3a589e;
}

.btn-facebook > i {
    background: #30467b;
}

    .btn-facebook > i:after {
        border-color: transparent transparent transparent #30467b;
    }
/*Twitter*/
.btn-twitter:hover > i, .btn-twitter:focus > i {
    color: #55acee;
}

.btn-twitter > span {
    background: #429cd6;
}

.btn-twitter > i {
    background: #3a88bb;
}

    .btn-twitter > i:after {
        border-color: transparent transparent transparent #3a88bb;
    }
/*whatsapp*/
.btn-whatsapp:hover > i, .btn-email:focus > i {
    color: #5EDF8F;
}

.btn-whatsapp > span {
    background: #5EDF8F;
}

.btn-whatsapp > i {
    background: #25d266;
}

    .btn-whatsapp > i:after {
        border-color: transparent transparent transparent #25d266;
    }
/*Pinterest*/
.btn-pinterest:hover > i, .btn-pinterest:focus > i {
    color: #cb2028;
}

.btn-pinterest > span {
    background: #cb2028;
}

/*LinkedIn*/
.btn-linkedin:hover > i, .btn-linkedin:focus > i {
    color: #007bb6;
}

.btn-linkedin > span {
    background: #0274b3;
}

.btn-linkedin > i {
    background: #035e90;
}

    .btn-linkedin > i:after {
        border-color: transparent transparent transparent #035e90;
    }

/* ./middleContent */
/*  Right sidebar */
.rightSidebar {
    font-size: 17px;
}

.lb-ad {
    min-height: 90px;
}

.rect-ad {
    min-height: 250px;
}


.popular-articles {
    margin-bottom: 0.5rem;
}

.article-items .list-group-item {
    padding: 0.5rem;
}

    .article-items .list-group-item:not(.title) {
        border-color: #2690e3;
        border-radius: 0px;
    }

    .article-items .list-group-item a {
        color: #000;
        font-size: 15px;
    }

.article-items.one .list-group-item {
    border-color: #fff;
    border-radius: 0px;
}

.article-items.one .title {
    color: #000;
    background-color: transparent;
    border-left: 10px solid #2590e3;
}

.article-items.one .list-group-item:hover {
    background-color: #5bb1f5;
    cursor: pointer;
}

    .article-items.one .list-group-item:hover:nth-child(1) {
        background-color: transparent;
    }

    .article-items.one .list-group-item:hover a {
        text-decoration: none;
    }

.article-items .title {
    margin-bottom: 0;
    border-radius: 0px;
    border: 0;
    border-bottom: 0;
    background: #565656;
    border-left: 10px solid #2590e3;
    font-size: 18px;
    color: #fff;
}

.tt-ad-rect {
    height: 250px;
    width: 300px;
    display: inline-block;
}

.tt-ad-skyscraper {
    height: 600px;
    width: 300px;
    display:inline-block;
}

.tt-ad-halfpage {
    height: 600px;
    width: 300px;
    display: block;
}
/*  footer */
footer.section.footer {
    background: #242c42;
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    padding-left: 10px;
}

    footer.section.footer a {
        color: #fff;
    }

    footer.section.footer li:hover a, footer.section.footer .hyperlink .hyper-left li:hover a {
        color: #7fb441;
        text-decoration: none;
    }

    footer.section.footer li i {
        color: #86bc42;
        margin-right: 0.4em;
    }

.useful-link-list li {
    padding-bottom: 10px;
}

.footer-main .title-widget {
    color: #86bc42;
    font-size: 20px;
    font-weight: 300;
}

input#mc-embedded-subscribe {
    background: #6caf43;
    border-radius: 0;
    color: #fff;
}

#newsletter-form + p {
    font-size: 11px;
}

    #newsletter-form + p a {
        text-decoration: underline;
    }

        #newsletter-form + p a:hover {
            text-decoration: none;
        }

.info-list {
    padding-top: 10px;
    padding-bottom: 10px;
}

footer.section.footer .info-list ul li i {
    color: #fff;
}

footer.section.footer .hyperlink {
    border-top: 1px solid #2f374c;
    font-size: 15px;
}

    footer.section.footer .hyperlink .hyper-left a {
        color: #C2C4C7; /*#5d6479;*/
        font-weight: 400;
    }
/*footer start*/
footer {
    width: 100%;
    font-family: 'Lato', Helvetica, Arial, sans-serif;
}

    footer a:hover, a:active, a:focus {
        text-decoration: none;
    }

    footer a {
        transition: all 0.2s ease;
    }

.footer-main {
    background-color: #242c42;
    overflow-x: hidden;
}

    .footer-main .footer-main-wrapper {
        padding-top: 30px;
        padding-bottom: 20px;
        color: #fff;
    }

    .footer-main .title-widget {
        color: #86bc42;
        padding-bottom: 20px;
        font-size: 16px;
        text-align: left;
    }

    .footer-main .hyperlink {
        border-top: 1px solid #2F374C;
        line-height: 70px;
        min-height: 70px;
        font-weight: bold;
        position: relative;
    }

        .footer-main .hyperlink:before {
            position: absolute;
            content: '';
            width: 100%;
            height: 1px;
            background-color: #2F374C;
            top: -1px;
            left: -100%;
        }

        .footer-main .hyperlink:after {
            position: absolute;
            content: '';
            width: 100%;
            height: 1px;
            background-color: #2F374C;
            top: -1px;
            right: -100%;
        }

        .footer-main .hyperlink .hyper-left a {
            font-size: 10px;
            color: #4F5B6B;
        }

            .footer-main .hyperlink .hyper-left a:hover {
                color: #86bc42;
            }

        .footer-main .hyperlink .hyper-right {
            font-size: 12px;
            /*color: #4F5B6B;*/
            color: #C2C4C7; /*#5d6479;*/
        }

        .footer-main .hyperlink ul.list-inline {
            margin-bottom: 0;
        }

    .footer-main .widget a {
        color: #fff;
    }

    .footer-main .widget .cur-title {
        color: #86bc42;
    }

    .footer-main .recent-post-widget .content-widget a:hover, .footer-main .popular-course-widget .content-widget a:hover, .footer-main .category-widget .content-widget a:hover, .footer-main .archive-widget .content-widget a:hover {
        color: #86bc42;
    }

        .footer-main .recent-post-widget .content-widget a:hover span, .footer-main .popular-course-widget .content-widget a:hover span, .footer-main .category-widget .content-widget a:hover span, .footer-main .archive-widget .content-widget a:hover span, .footer-main .recent-post-widget .content-widget a:hover p, .footer-main .popular-course-widget .content-widget a:hover p, .footer-main .category-widget .content-widget a:hover p, .footer-main .archive-widget .content-widget a:hover p, .footer-main .recent-post-widget .content-widget a:hover i, .footer-main .popular-course-widget .content-widget a:hover i, .footer-main .category-widget .content-widget a:hover i, .footer-main .archive-widget .content-widget a:hover i {
            color: #86bc42;
        }

    .footer-main .category-widget li, .footer-main .archive-widget li {
        border-bottom-color: #2F374C;
    }

    .footer-main .media {
        border-bottom-color: #2F374C;
    }

    .footer-main .tag-widget {
        margin: 20px 0px;
    }

        .footer-main .tag-widget li {
            margin: 0px 10px 10px 0px;
            display: inline-block;
        }

            .footer-main .tag-widget li .tag-item {
                color: #fff;
                display: inherit;
                padding: 10px;
                background-color: #3B4757;
                transition: all .3s ease-in;
            }

                .footer-main .tag-widget li .tag-item:hover {
                    background-color: #86bc42;
                }

                    .footer-main .tag-widget li .tag-item:hover .tag-item {
                        color: #fff;
                    }

    .footer-main .course-price-widget .cur-title.cur {
        color: #86bc42;
    }

.widget {
    /*margin-bottom: 30px*/
}

    .widget a:hover {
        color: #86bc42;
    }

    .widget p {
        line-height: 24px;
    }

    .widget .title-widget {
        font-weight: bold;
        text-transform: uppercase;
    }

    .widget .media {
        border-bottom: 1px solid #dee5e9;
        padding: 20px 0px;
        margin: 0px;
    }

        .widget .media:last-child {
            border-bottom: none;
            padding-bottom: 0;
        }

        .widget .media .media-left {
            padding-right: 0;
            width: 100px;
            height: auto;
        }

        .widget .media .media-right {
            padding-left: 15px;
        }

            .widget .media .media-right span {
                font-size: 12px;
            }

            .widget .media .media-right .comment {
                float: right;
            }

                .widget .media .media-right .comment i {
                    margin-right: 3px;
                }

            .widget .media .media-right p {
                margin: 0px;
            }

        .widget .media .info {
            display: inline-block;
        }

        .widget .media .link {
            display: inline-block;
            color: #6f8190;
        }

            .widget .media .link .media-image {
                width: 100%;
            }

            .widget .media .link:hover {
                color: #86bc42;
            }

.edugate-widget p {
    margin-bottom: 20px;
}

.edugate-widget .info-list ul {
    margin-bottom: 0px;
}

    .edugate-widget .info-list ul li {
        display: table;
        border-top: 1px solid #2F374C;
        width: 100%;
        padding-bottom: 15px;
        padding-top: 15px;
    }

        .edugate-widget .info-list ul li > i {
            display: table-cell;
            width: 25px;
        }

        .edugate-widget .info-list ul li > a {
            display: table-cell;
        }

.edugate-widget .info-list p {
    margin-bottom: 0px;
}

.useful-link-list ul {
    padding: 0px;
    margin: 0px;
}

    .useful-link-list ul li {
        margin-bottom: 10px;
        display: table;
        line-height: 16px;
    }

        .useful-link-list ul li a {
            display: table-cell;
        }

        .useful-link-list ul li i {
            display: table-cell;
            width: 15px;
            color: #86bc42;
            font-weight: bold;
        }


.mailing-widget p {
    margin-bottom: 15px;
}

.mailing-widget input.form-control {
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
}

.mailing-widget .btn-email {
    background-color: #86bc42;
    line-height: 33px;
    text-align: center;
    padding: 0px 15px;
    width: 50px;
    border: 0;
    border-radius: 0;
    /*background: transparent;*/
    text-align: center;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    color: #fff;
    transition: all 0.2s ease;
}

.mailing-widget .input-group {
    margin-bottom: 15px;
    max-width: 300px;
}

.mailing-widget .form-email-widget {
    height: 33px;
    background-color: #fafafa;
    border-radius: 0px;
    border: none;
    box-shadow: none;
}

    .mailing-widget .form-email-widget:focus, .mailing-widget .form-email-widget:active {
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    }

.alert-success {
    background-color: inherit;
    color: #86bc42;
}

.alert-danger {
    background-color: inherit;
    color: red;
}

.socials {
    display: block;
}

    .socials a, .socials .link {
        margin-right: 10px;
        margin-bottom: 10px;
        width: 30px;
        height: 30px;
        text-align: center;
        line-height: 30px;
        border-radius: 3px;
        background-color: #3B4757;
        display: inline-block;
        transition: all .3s ease-in;
    }

        .socials a:last-child, .socials .link:last-child {
            margin-right: 0;
        }

        .socials a i, .socials .link i {
            color: #fff;
        }

        .socials a:hover, .socials .link:hover {
            background-color: #86bc42;
        }

.social-widget {
    margin-top: 30px;
    border: none;
    padding-top: 0px;
}

    .social-widget a, .social-widget .link {
        background-color: #a8b0b6;
        margin-bottom: 10px;
        margin-right: 8px;
    }

#back-top a {
    position: fixed;
    bottom: 20px;
    right: 20px;
    border: 2px solid #86bc42;
    background-color: transparent;
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 24px;
    z-index: 100;
    color: #86bc42;
    transition: all .5s ease-in-out;
}

    #back-top a:hover {
        background-color: #86bc42;
        color: #fff;
    }

/*footer end*/
/* media queries */


@media (max-width:1230px) {

    /* horizontal menu */
    /*.topMenuHorizontal .navbar-nav.nav-flex.right .nav-item:nth-of-type(2) {
        display: none;
    }*/
}

@media (max-width:1169px) {
    /* verticale menu */

    /* horizontal menu */
    /*.topMenuHorizontal .navbar-nav.nav-flex.right .nav-item:nth-of-type(1) {
        display: none;
    }*/
}

@media (max-width:1098px) {
    /* verticale menu */

    /* horizontal menu */
    .topMenuHorizontal .navbar-nav.left .nav-item:nth-of-type(8) {
        display: none;
    }

    .lb-ad {
        /*display: none;*/
        min-height: 65px;
    }


    .tt-ad-header {
        width: 468px;
        height: 60px;
        display:block;
    }

    .devmed-lb, .rect-ad {
        display: none;
    }
}

@media (max-width:1030px) {
    /* verticale menu */

    /* horizontal menu */
    .topMenuHorizontal .navbar-nav.left .nav-item:nth-of-type(7) {
        display: none;
    }

    p code, ol li code, ul li code {
        white-space: inherit;
    }
}

@media (max-width:992px) {
    body {
        font-size: 16px;
    }

    /* horizontal menu */
    .topMenuHorizontal .navbar-nav.left .nav-item:nth-of-type(6) {
        display: none;
    }

    .topMenuHorizontal .navbar-nav.nav-flex.right {
        display: none;
    }

    h1 {
        font-size: 24px;
        margin-bottom: 1.5rem;
    }

    h2 {
        font-size: 20px;
        margin-bottom: 0.5em;
    }

    h3 {
        font-size: 18px;
        border-left: 20px solid #5bb1f4;
        padding: 0.25rem 0.5rem 0.25rem 0.5rem;
        background-color: #dddddd;
        margin-bottom: 0.5em;
    }

    hr {
        border: 0;
        border-top: 1px solid #ddd;
    }

    .card-header {
        font-size: 18px;
    }

    .menuVertical, .menuVerticalParent {
        width: 170px;
    }

    #middleContent {
        margin-left: 170px;
    }

    .articleContent {
        margin-left: 0;
    }

    .table {
        font-size: 14px;
    }

    .menuVertical {
        z-index: 500;
    }

        .menuVertical .menu-title {
            display: block;
            padding: 0.5rem 1rem;
            border-bottom: 1px solid #e2e2e2;
            font-weight: 500;
            font-size: 15px;
        }

    .header-ad-div {
        /*padding: 0 0 10px 0;
        min-height:0;*/
        /*display: none;*/
    }

    .lb-ad {
        /*display: none;*/
        min-height: 65px;
    }


    .tt-ad-header {
        width: 468px;
        height: 60px;
        display: block;
    }

    .devmed-lb, .rect-ad {
        display: none;
    }


    .tt-ad-rect, .tt-ad-skyscraper {
        /*width: 125px;
        height: 125px;
        display: block;*/
        display: none;
    }

    .tt-ad-halfpage {
        display: none;
    }

    .tt-ad-squre2 {
        width: 125px;
        height: 125px;
        display: block;
    }

    .lb-ad {
        /*display: none;*/
        min-height: 55px;
    }
}

@media (max-width:899px) {
    .topMenuHorizontal .navbar-nav.left .nav-item:nth-of-type(5) {
        display: none;
    }

    .lb-ad {
        /*display: none;*/
    }
}

@media (max-width:767px) {
    body {
        font-size: 14px;
    }

    .logo {
        width: 150px;
    }
    
    .followus {
        display:none;
    }
    #middleContent {
        margin-left: auto;
    }

    .faq {
        padding: 0;
        padding-top: 20px;
    }

    .articleContent {
        margin: 0;
    }

    footer.section.footer {
        margin-left: auto;
        padding-left: 0px;
    }

    .navbar .dropdown-menu.mega-menu {
        max-height: 100vh;
        overflow-y: scroll;
        padding-bottom: 40px;
    }

    .menuLeft-item a {
        color: #000;
        font-size: 12px;
    }

    .topMenuHorizontal .navbar-nav.left .nav-item {
        display: none;
    }

        .topMenuHorizontal .navbar-nav.left .nav-item:nth-of-type(1),
        .topMenuHorizontal .navbar-nav.left .nav-item:nth-last-of-type(1) {
            display: block;
        }


    .topMenuHorizontal .navbar-nav.nav-flex.right .nav-item:nth-of-type(3) {
        display: none;
    }

    .navigation .btn {
        width: 98px;
        font-size: 14px;
    }

    .header-ad-div {
        /*min-height:0;*/
        /*display: none;*/
    }

    .lb-ad {
        /*display: none;*/
    }

    .devmed-lb, .tt-ad-rect, .tt-ad-skyscraper {
        display: none;
    }

    .tt-ad-halfpage {
        display: none;
    }

    .tt-ad-squre2 {
        display: none;
    }

    .tt-ad-header {
        width: 300px;
        height: 50px;
        display: block;
    }

    .collapse.navbar-collapse {
        padding: 0;
    }
}

@media (max-width:556px) {
    .navbar-brand img {
        width: 90%
    }
    h1 {
        font-size: 22px;
        margin-bottom: 1.5rem;
    }

    h2 {
        font-size: 19px;
        margin-bottom: 0.5em;
    }

    h3 {
        font-size: 17px;
        border-left: 20px solid #5bb1f4;
        padding: 0.25rem 0.5rem 0.25rem 0.5rem;
        background-color: #dddddd;
        margin-bottom: 0.5em;
    }


    .card-header {
        font-size: 18px;
    }

    .navigation .btn {
        width: 98px;
        font-size: 12px;
    }
}

@media (max-width:480px) {
    input[type="text"]#q:focus {
        max-width: 240px;
    }
}
