.cookies {
    position : fixed;
    z-index : 9999;
    right : 0;
    left : 0;
    width : 100%;
    padding-right : 105px;
    transition : all .4s ease;
    color : #fff;
    background: #834d9b; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #834d9b , #d04ed6); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #834d9b , #d04ed6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    bottom : -50%;
}

.cookies-show {
    animation-name : cpcookiesShow;
    animation-duration : 1s;
    animation-iteration-count : 1;
    bottom: 0;
}

.cookies-hide
{
    animation-name: cpcookiesHide;
    animation-duration : 0.59s;
    animation-iteration-count : 1;
    bottom: -50%;
}


@keyframes cpcookiesShow {
    0% {
        bottom : -50%;
    }
    100% {
        bottom : 0;
    }
}

@keyframes cpcookiesHide {
    0% {
        bottom : 0;
    }
    100% {
        bottom : -50%;
        display: none;
    }
}

#cookies-close {
    display: none;
}

.cookies-message-link {
    color : #ffeb3b;
    opacity: 0.8;
}
.cookies-message-link:hover{
    text-decoration: none;
    color: #ffeb3b;
    opacity: 1;
}

/*#cookies-close:checked ~ #cookies ,
#cookies-close:checked + .cookies-close {
    top : -50%;
}*/

.cookies-close {
    position : fixed;
    z-index : 10000;
    right : 20px;
    padding : 10px 15px;
    border-radius: 20px;
    cursor : pointer;
    text-decoration : none;
    font-weight: 400;
    color : #ffffff;
    background : rgba(0, 0, 0, 0.2);
    bottom : -50%;
}

.show-close-cookies
{
    animation-name : cpcookiesclosetop;
    animation-duration : 1s;
    animation-iteration-count : 1;
    bottom: 0px;
}

.hide-close-cookies
{
    animation-name : cpcookiesclosehide;
    animation-duration : 0.5s;
    animation-iteration-count : 1;
    bottom:-50%;
}


@keyframes cpcookiesclosetop {
    0% {
        bottom : -50%;
    }
    100% {
        bottom : 0px;
    }
}

@keyframes cpcookiesclosehide {
    0% {
        bottom : 0px;
    }
    100% {
        bottom : -50%;
    }
}


.cookies-close:hover {
    text-decoration : none;
    background: rgba(255, 255, 255, 0.2);
}

.cookies-message {
    margin : 20px;
}