* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    line-height: 1.75em;
    color: #333;
    font-weight: 300;
    padding: 0;
    margin: 0;
}

.container {
    margin-right: auto;
    margin-left: auto;
}

header {
    margin-right: 15px;
    margin-left: 15px;
    height: 80px;
    margin-bottom: 60px;
    border-bottom: 1px solid #eee;
}

header nav {
    float: right;
    vertical-align: middle;
}

header nav a {
    position: relative;
    display: inline-block;
    margin: 25px 10px;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    color: #a8adb0;
    -webkit-font-smoothing: antialiased;
    -webkit-transition-property: border, color;
    -moz-transition-property: border, color;
    -o-transition-property: border, color;
    transition-property: border, color;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

header nav a .badge {
    position: absolute;
    display: inline-block;
    text-align: center;
    top: -1px;
    right: -12px;
    padding: 2px;
    border-radius: 100%;
    background: #F4030A;
    opacity: 0.5;
    width: 14px;
    height: 14px;
    line-height: 10px;
    color: #FFF;
    text-decoration: none;
    font-size: 10px;
    -webkit-font-smoothing: antialiased;
    -webkit-transition-property: border, color;
    -moz-transition-property: border, color;
    -o-transition-property: border, color;
    transition-property: border, color;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

header nav a:hover .badge {
    opacity: 0.9;
}

header nav .social-links a {
    color: #5D96EE;
}

header nav a:hover {
    color: #4c4c4c;
}

header nav a.btn {
    border: 2px solid #a8adb0;
    border-radius: 4px;
    padding: 2px 10px;
}

header nav a.btn.active {
    background-color: #4c4c4c;
    border: 2px solid #4c4c4c;
    color: white;
}

header nav a.btn:hover {
    border-color: #4c4c4c;
}

header .logo {
    display: inline-block;
    height: 50px;
    width: 50px;
    margin: 15px 5px;
    border-radius: 10px;
    color: #FFF;
    font-size: 30px;
    font-weight: 700;
    background: #555;
    text-align: center;
    line-height: 50px;
    -webkit-transition-property: background;
    -moz-transition-property: background;
    -o-transition-property: background;
    transition-property: background;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

header .logo:hover {
    background: #4183C4;
}

header .menu-icon {
    display: none;
}

.content {
    padding-right: 15px;
    padding-left: 15px;
}

p, ul {
    color: #515862;
    font-size: 16px;
    line-height: 1.7;
}

ul {
    list-style-type: square;
}

a {
    text-decoration: none;
    color: #4183C4;
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

a:hover {
    opacity: 0.8;
}

img {
    width: 100%;
    height: auto;
    padding: 4px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

img.no-border {
    border: 0;
    width: inherit;
    max-width: 100%;
    height: auto;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 30px 0;
}

h1 {
    font-size: 40px;
    line-height: 40px;
    font-weight: 100;
    color: #1b2731;
    padding-bottom: 10px;
}

h2 {
    font-size: 34px;
    line-height: 34px;
    font-weight: 100;
    color: #888;
}

h3 {
    font-size: 26px;
    line-height: 26px;
    font-weight: 100;
    color: #1b2731;
}

h4 {
    font-size: 18px;
    line-height: 18px;
    font-weight: 400;
    color: #1b2731;
}

h5 {
    font-size: 20px;
    line-height: 20px;
    font-weight: 100;
    color: #888;
}

h6 {
    font-size: 18px;
    line-height: 18px;
    font-weight: 200;
    color: #1b2731;
}

blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    border-left: 5px solid #eee;
    font-style: italic;
    color: #515862;
}

blockquote p:first-child {
    margin: 0;
}

figure.highlight {
    margin: 0;
}

code {
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
    border: 1px solid #E3EDF3;
    background-color: #F7FAFB;
    padding: 2px 4px;
    font-size: 90%;
    border-radius: 4px;
    -webkit-font-smoothing: antialiased;
}

pre {
    overflow: auto;
    display: block;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    border-radius: 4px;
    background: #2B2B2B;
    border: 0;
    padding: 10px;
    margin: 10px 0 30px 0;
}

pre code {
    border-radius: 0;
    font-size: 14px;
    color: #A9B7C6;
    background: #2B2B2B;
    border: none;
    overflow: auto;
    word-wrap: normal;
    white-space: pre;
    padding: 0;
}

footer {
    height: 60px;
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 60px;
    padding-top: 15px;
    border-top: 1px solid #eee;
    color: #bbb;
    font-size: 12px;
    text-align: center;
}

.center {
    text-align: center;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.tabs {
    display: block;
    position: relative;
    list-style: none;
    margin-bottom: 40px;
    padding: 0;
    font-size: 0;
}

.tabs .tab {
    display: inline-table;
    padding: 0;
    margin: 0;
    border-top: 1px solid #A8ADB0;
    border-bottom: 1px solid #A8ADB0;
    border-right: 1px solid #A8ADB0;
    font-size: 14px;
}

.tabs .tab:first-of-type {
    border-left: 1px solid #A8ADB0;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}

.tabs .tab:last-of-type {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

.tabs .tab.active {
    background: #A8ADB0;
}

.tabs .tab.active a {
    cursor: default;
}

.tabs .tab a {
    color: #A8ADB0;
    display: block;
    padding: 2px 12px;
}

.tabs .tab.active a {
    color: #FFF;
}

.page-title {
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 0;
}

.page-subtitle {
    text-align: center;
    color: #aaa;
    font-size: 15px;
    margin-bottom: 50px;
}

.page-subtitle span:not(:first-of-type) {
    margin-left: 10px;
}

.blog-items {
    margin: 0;
    padding: 0;
}

.blog-item {
    position: relative;
    display: block;
}

.blog-item:hover {
    background: #F2F8FB;
}

.blog-item a {
    padding: 20px 10px;
    display: block;
    color: #787F8C;
}

.blog-item h1 {
    margin: 0;
    padding: 0 10px 0 0;
    font-size: 18px;
    line-height: 20px;
    font-weight: 200;
}

.blog-item h3 {
    margin: 10px 0;
    padding: 0 10px 0 0;
    font-size: 12px;
    line-height: 14px;
    color: #787F8C;
    text-transform: uppercase;
    font-weight: 200;
}

.blog-item .col1 {
    float: left;
    width: 49%;
    display: inline;
    text-align: right;
}

.blog-item .col2 {
    float: right;
    width: 49%;
    line-height: 20px;
    display: inline;
}

.blog-items.read-more li:nth-child(5) {
    display: none;
}

.contact-item {
    position: relative;
    display: block;
    font-size: 22px;
    line-height: 40px;
    font-weight: 100;
}

.contact-item .col1 {
    display: inline;
    float: left;
    width: 39%;
}

.contact-item .col2 {
    display: inline;
    float: right;
    width: 59%;
}

.project-item {
    position: relative;
    display: block;
    padding: 5px;
}

.project-item.marked {
    background-color: #F2F8FB;
    border-radius: 4px;
}

.project-item:not(:last-of-type) {
    margin-bottom: 40px;
}

.project-item .col1 {
    display: inline;
    float: left;
    width: 29%;
}

.project-item .col2 {
    display: inline;
    float: right;
    width: 69%;
}

.project-item .col2 p {
    font-size: 15px;
    color: #787F8C;
    margin-top: 0;
}

.project-item h1 {
    margin: 0;
    font-size: 30px;
    line-height: 32px;
    text-align: right;
}

.project-item a {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
    color: #a8adb0;
    -webkit-font-smoothing: antialiased;
    -webkit-transition-property: border, color;
    -moz-transition-property: border, color;
    -o-transition-property: border, color;
    transition-property: border, color;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.project-item a.btn {
    border: 2px solid #a8adb0;
    border-radius: 4px;
    padding: 0 12px;
}

.project-item a.btn:hover {
    border-color: #4c4c4c;
    color: #4c4c4c;
}

.vita-head {
    margin-bottom: 40px !important;
    text-align: center;
}

.vita-title {
    font-size: 26px;
    color: #555;
    padding: 0 0 0 20px;
    margin: 30px 0 40px;
    border-bottom: 1px solid #eee;
}

.vita-item {
    position: relative;
    display: block;
    padding: 5px;
    margin-top: 20px;
}

.vita-item .col1 {
    float: left;
    width: 29%;
    display: inline;
    text-align: right;
}

.vita-item .col1 h1 {
    margin: 0;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    font-weight: 600;
    color: #CCC;
}

.vita-item .col2 {
    float: right;
    width: 70%;
    line-height: 20px;
    display: inline;
}

.vita-item .col2 h1 {
    margin: 0;
    padding-bottom: 5px;
    font-size: 24px;
    line-height: 32px;
}

.vita-item .col2 h3 {
    font-size: 14px;
    line-height: 14px;
    font-weight: 200;
    color: #CCC;
    margin: 0;
    padding-bottom: 10px;
}

.vita-item .col2 ul {
    margin: 0;
    padding-left: 30px;
}

.right-align {
    text-align: right;
}

.row:first-of-type {
    margin-top: 40px;
}

.center {
    text-align: center;
}

.front {
    margin: 40px 0 60px;
    text-align: center;
}

.front .page-title {
    margin-top: 5px;
}

.front .page-subtitle {
    margin-bottom: 20px;
}

.front .page-description {
    margin: 0;
    padding: 0;
}

.author {
    position: relative;
    margin: 40px 0 60px;
    padding: 30px 20px 30px 90px;
    min-height: 82px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    border-radius: 4px;
    color: #555;
}

.avatar {
    display: inline-block;
    background-image: url('/image/avatar.jpg');
    background-size: cover;
    border-radius: 50%;
    box-shadow: 0 0 0 3px #fff, 0 0 0 4px #ccc;
    width: 60px;
    height: 60px;
}

.author .avatar {
    position: absolute;
    left: 16px;
    top: 26px;
}

.social-share {
    margin: 40px 0;
    text-align: center;
}

.social-share a {
    display: inline-block;
    margin: 25px 10px;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    color: #a8adb0;
    -webkit-font-smoothing: antialiased;
    -webkit-transition-property: border, color;
    -moz-transition-property: border, color;
    -o-transition-property: border, color;
    transition-property: border, color;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.social-share a.btn {
    border: 2px solid #a8adb0;
    border-radius: 4px;
    padding: 2px 10px;
}

.social-share a.btn.active {
    background-color: #4c4c4c;
    border: 2px solid #4c4c4c;
    color: white;
}

.social-share a:hover {
    color: #4c4c4c;
}

.social-share a.btn:hover {
    border-color: #4c4c4c;
}

.social-share .share-links a {
    color: #4183C4;
}

.social-share .share-count {
    font-size: 11px;
    vertical-align: text-bottom;
    color: #a8adb0;
}

.social-share p {
    font-size: 14px;
    color: #ccc;
}

.device-small {
    display: none;
}

.device-large {
    display: inherit;
}

.hide {
    display: none;
}

.hash-link {
    margin-left: 10px;
    font-weight: 800;
    color: #DDD;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

h6:hover .hash-link,
h5:hover .hash-link,
h4:hover .hash-link,
h3:hover .hash-link,
h2:hover .hash-link,
h1:hover .hash-link {
    opacity: 1;
}

@media (min-width: 768px) {
    .container {
        width: 700px;
    }
}

@media (max-width: 580px) {
    a {
        text-decoration: none;
        color: #4183C4;
        -webkit-transition-property: opacity;
        -moz-transition-property: opacity;
        -o-transition-property: opacity;
        transition-property: opacity;
        -webkit-transition: all 0.25s ease;
        -moz-transition: all 0.25s ease;
        -o-transition: all 0.25s ease;
        transition: all 0.25s ease;
    }

    a:hover {
        opacity: 1.0
    }

    .device-small {
        display: inherit;
    }

    .device-large {
        display: none;
    }

    header nav a .badge {
        display: none;
    }

    pre code {
        font-size: 12px;
    }

    header {
        position: relative;
        height: 60px;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 30px;
        padding-left: 15px;
        padding-right: 15px;
    }

    header .logo {
        margin-top: 5px;
    }

    header .menu-icon {
        display: block;
        margin-top: 20px;
        float: right;
        position: relative;
        font-size: 30px;
        color: #555;
        cursor: pointer;
        -webkit-user-select: none;
        -webkit-font-smoothing: antialiased;
        -webkit-transition: 0.25s ease-in-out;
        -moz-transition: 0.25s ease-in-out;
        -o-transition: 0.25s ease-in-out;
        transition: 0.25s ease-in-out;
    }

    header .menu-icon.active {
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
    }

    header .links {
        background: #f2f2f2;
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        z-index: 1000;
        padding: 10px 0;
        border-bottom: 1px solid #eee;
    }

    header .links a {
        display: block;
        margin: 0;
        padding: 10px 25px;
    }

    header .links a.btn {
        display: none;
    }

    header .links:not(.open) {
        display: none;
    }

    header .social-links {
        border-top: 1px solid #eee;
    }

    header .social-links.hide {
        display: block;
    }

    footer {
        margin-left: 0;
        margin-right: 0;
        padding-left: 15px;
        padding-right: 15px;
    }

    .container {
        margin: 0;
        width: 100%;
        overflow: hidden;
    }

    .blog-item:not(:last-of-type) {
        margin-bottom: 20px;
    }

    .blog-item a {
        padding: 10px 10px;
    }

    .blog-item h3 {
        margin: 5px 0 10px;
    }

    .blog-item .col1 {
        float: none;
        width: auto;
        display: block;
        text-align: left;
    }

    .blog-item .col2 {
        display: block;
        float: none;
        width: auto;
    }

    .project-item .col1 {
        display: block;
        float: none;
        width: auto;
    }

    .project-item .col2 {
        display: block;
        float: none;
        width: auto;
    }

    .project-item h1 {
        text-align: left;
    }

    .project-item .nav {
        text-align: left;
    }

    .vita-item .col1 {
        float: none;
        width: auto;
        display: block;
        text-align: left;
    }

    .vita-item .col2 {
        display: block;
        float: none;
        width: auto;
    }

    .vita-item .col1 h1 {
        margin-bottom: 10px;
    }

    pre code {
        font-size: 12px;
    }

    .featured a.btn {
        display: block;
    }
}


/* Carbon */

#carbonads-container {
    text-align: center;
    margin: 20px 0 60px;
    min-height: 122px;
}

#carbonads {
    display: inline-block;
    max-width: 330px;
    padding: 10px;
    border: 1px dashed #ccc;
    border-radius: 5px;
    text-align: left;
}

.carbon-img {
    border: none;
    display: inline;
    float: left;
    height: 100px;
    width: 130px;
    margin: 0;
}

.carbon-img img {
    border: 0;
    padding: 0;
    box-shadow: none;
}

.carbon-text {
    display: block;
}

.carbon-text {
    display: block !important;
    float: none !important;
    width: auto !important;
    height: auto !important;
    margin-left: 145px !important;
    color: #515862;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.carbon-poweredby {
    font-size: 75%;
    color: #999;
}

.carbon-poweredby, .carbonad-tag, .carbonad-text {
    display: block !important;
    float: none !important;
    width: auto !important;
    height: auto !important;
    margin-left: 145px !important;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.carbonad-tag a, .carbonad-text a {
    color: #333 !important;
}

.carbonad-text a {
    color: #000;
    text-decoration: none;
    text-transform: none;
}
