.lana-download-container {
    padding: 5px !important;
}

.lana-download-container img {
    padding: 5px !important;
}

.lana-download-container .caption h3 {
    margin-top: 0 !important;
}

.lana-download-container .caption .counter {
    margin-bottom: 0 !important;
}