/*
/*
/*  custom.css
/*
/*  If not using Gulp and Sass, add your custom CSS below then include it
/*  in your page by adding a reference to assets/css/custom.css in the head of each page.
/*
*/
#gdpr{
  z-index: 2;
  position: fixed;
  bottom: 0;
  width: 100%;
  background:#fff;
  padding-left:24px;
  /*display:none;*/
}

.dropdown-item {
  cursor:pointer;
}

.d-flex-block{
	display: flex;
}

.text-right-left{
  text-align: right;
}

@media screen and (max-width:800px){
	.d-flex-block{
		display: block;
	}
  .text-right-left{
    text-align:left;
  }
}

.cursor-pointer {
  cursor: pointer;
}
