

 h2 {
margin: 35px 0px 0px 0px;

}
h3{
margin: 26px 0px 0px 0px;
}

h4, h5{
margin: 12px 0px 0px 0px;
}

.medium{
font-size: 0.85em;
}

blockquote{
margin-top:15px;
margin-bottom: 15px;
}


h1.bg{
font-size: 38px;
}
h4.bg{
    font-family: erdana,helvetica,arial,sans-serif;
    font-size: 14px;
    font-weight: 550
}
h4.thin{
    font-family: erdana,helvetica,arial,sans-serif;
    font-size: 18px;
    font-weight: 400
}

h3.thin{
    font-family: erdana,helvetica,arial,sans-serif;
    font-size: 22px;
    font-weight: 400
}

h2.thin{
    font-family: erdana,helvetica,arial,sans-serif;
    font-size: 25px;
    font-weight: 400
}


h3.bg{
    font-family: erdana,helvetica,arial,sans-serif;
    font-size: 23px;
    font-weight:600
}

h2.bg, h2.cbg{
    font-family: erdana,helvetica,arial,sans-serif;
    font-size: 26px;
    font-weight:600
}

body{
counter-reset: section;
}
h2.cbg::before{
 counter-increment: section;
 content:  counter(section) ". ";
}









.img-center, .img-left,.img-right{
 margin-top: 20px;
 margin-bottom: 20px;
}

ul.big-desc li{
margin-bottom: 10px;
}





ul.r-post, ul#sah{
  margin-top: 8px;
}
.

