/* * * * * *  Content  * * * * * */

#contentarea{ padding:90px 0 405px 0;}
#contentarea .container{padding: 0px 0px 10px 0px;}
.middlearea{ padding:18px 0;}

.tatvablog .middlearea { padding:10px !important; }

.leftside{ float:left; width:734px;}
.rightside{ float:right; width:215px; overflow:hidden;}
.contentbox { border-top: 1px solid #E0E0E0; margin: 20px 0 0; padding: 15px 0 0; overflow:hidden;}
.rsbox{ margin-bottom:10px; }
.request-title { background: url(../images/rtarrow.gif) no-repeat right 50% #29a6d0; font-size: 16px; height: 35px; line-height: 35px; margin: 0; padding: 0 0 0 14px;}
.request-title a { display:block; color: #FFFFFF;}
.iphoneimg img{ display:block;}
.rightbox{ padding:0px; margin:0px;}
.right-menu{ border:none; padding:0px; margin:0px;}
.right-menu ul{ padding:0px 0px 5px 5px; margin:0px; list-style:none;}
.right-menu ul li{ padding:0px 0px 0px 12px; margin:7px 0px 7px 0px; background:url(../images/sublink_bul.gif) no-repeat 0px 6px; line-height:18px; }
.right-menu ul li{color:#29a6d0;}
.right-menu ul li a{ text-decoration:none;}
.right-menu ul li a:hover{ text-decoration:underline;}
.padtop{ padding-top:10px;}
.fwc{margin-bottom:10px; background:#f5a023; text-align:center; height:114px;}
.fwc img{ display:inline-block;}
.whbg{ background:#FFF; padding:3px 10px 0px 10px;}
.follow-center{ text-align: center;}
.outs-links{ border:#dcdcdc solid 1px; margin-top:10px;}
.outlines{ border:#dcdcdc solid 1px;}
.righttitle{ padding:0px 0px 0px 12px; margin:0px; background:#29a6d0; color:#FFF; height:32px; font-size:16px; line-height:30px; }
.contact-sidebar{padding: 10px 19px;}
.subboxes{ width:29%; float:left; }
.subboxes_spac{ float:left; width:4%; background:url(../images/dot.png) top center repeat-y; min-height: 280px;}
:root .subboxes_spac { min-height: 250px \0/IE9; }
.wt{ width:34%;}
.contentbox .box-title { border: medium none; color: #555555; font-size: 15px; font-weight: bold; line-height: 25px; margin: 0; padding: 0;}
.subboxes ul{ padding:5px 0px 0px 5px; margin:0px; list-style:none;}
.subboxes ul li{ padding:0px 0px 0px 10px; margin:7px 0px 7px 0px; background:url(../images/sublink_bul.gif) no-repeat 0px 6px; line-height:16px; }
.subboxes ul li a{ text-decoration:none; color:#3468a2; }
.subboxes ul li a:hover{ text-decoration:underline;}
.sublinks {  min-height: 130px;}
.sublinks ul{ float:left; padding:3px 25px 0 3px; list-style:none;}
.sublinks ul li{ padding:0px 0px 0px 10px; margin:7px 0px 7px 0px; list-style-type:none; background:url(../images/sublink_bul.gif) no-repeat 0px 6px; line-height:16px; }
.sublinks ul li a{ text-decoration:none; color:#3468a2; }
.sublinks ul li a:hover{ text-decoration:underline;}
.tabarea {padding:0 0 18px 0;}
.tabcont{ padding:0px 15px 0px 0px; margin:0px; width:500px; clear:left; float:left;}
.tabcont a{ color:#5881b0; text-decoration:none; font-weight:bold; padding:5px 0px 5px 0px; margin:0px;  line-height:13px; display:block; }
.tabcont a:hover{ text-decoration:underline;}
.tabimg{ clear:right;}
.imgbdr{ padding:5px; border:#e7e7e7 solid 1px; background:#FFF;}
.banner { margin:0; position: relative; background-position:center center; background-repeat:no-repeat; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; height:275px;  }
.ban-aboutus{ background-image:url(../images/ban-aboutus.jpg);}
.ban-contactus{ background-image:url(../images/ban-contactus.jpg);}
.ban-industry{ background-image:url(../images/ban-industry.jpg);}
.ban-portfolio{ background-image:url(../images/ban-portfolio.jpg);}
.ban-services{ background-image:url(../images/ban-services.jpg);}
.ban-technology{ background-image:url(../images/ban-technology.jpg);}



.banner h2{ color:#FFF; font-weight:normal; padding:70px 0 0 0; margin:0; text-transform:uppercase; font-size:24px;}
.inr_left{ margin-right:230px; }
.inr_right{float:right; width:215px;}


.blog-body h2,.blog-body h4{padding-bottom:12px;}
.blog-body h4{padding-bottom: 6px;padding-top: 8px;}
.blog-body ul{padding-bottom:12px;}
.blog-body h4 ol li{font-weight:bold;}

.blog-body ol{
    margin-left: 0;
    padding-right: 0;
    list-style-type: none;
}
.blog-body ol > li {
    counter-increment: step-counter;
	position: relative;
}
.blog-body ol > li::before {
	content: counter(step-counter, decimal);
    display: block;
    font-family: Arial,tahoma,sans-serif;
    left: -40px;
    position: absolute;
    text-align: right;
    width: 30px;
}
.blog-body ol li ul li::before {
	
   counter-increment: none;
   content:none !important; 
}

.blog-body ol{padding-left:28px !important; margin-top:0; margin-bottom:10px;}
.blog-body ol li{padding-bottom:5px;}
.blog-body ol li:last-child{padding-bottom:0px;}


.breadcumb{ padding:12px 0px; margin:0px; color:#808080; font-size:14px; line-height:1;}
.breadcumb a{ text-decoration:none; color:#29a6d0; font-size:14px;}
.breadcumb a:hover{ text-decoration:underline;}
.breadcumb span{ width:18px;display:inline-block; text-align:center;}
.breadcumb img{ vertical-align:1px;}
.margtop{ margin-top:10px;}
h1{ padding:0 0 10px 0; margin:0; line-height:1; color:#434343; font-size:30px;  font-weight:normal;}
h3{ padding:8px 0px 2px 0px; margin:0px;  font-size:15px; font-family: 'proxima_nova_rgbold', arial; font-weight:normal; }
.titlefirst { padding-top: 0 !important;}
.leftlist{ width:48%; float:left;}
.rightlist{ width:48%; float:right;}
.intbullet{ border:none; padding:0 0 7px 0; margin:0 0 0 10px;}
.intbullet ul{ padding:0px 0px 0px 5px; margin:0px; list-style:none;}
.intbullet ol{ margin-top:5px; margin-bottom:6px;}
.intbullet ul li{ padding:0px 0px 0px 12px; margin:4px 0px 4px 0px; background:url(../images/sublink_bul.gif) no-repeat 0px 6px; line-height:18px; text-align:justify; }
.clrboth {    clear: both;    height: 0;    line-height: 0;    margin: 0;    padding: 0;}
p.clspad{ padding-bottom:3px !important; padding-top:5px !important;}
p.clstoppad{ padding-top:4px;}
p.clsheading{ padding-top:10px !important; padding-bottom:7px !important; /*color:#5280b5;*/ font-family: 'proxima_nova_rgbold', arial; font-weight:normal; }

.chartimg{ text-align:center;}
.inr_block{ overflow:hidden; padding-top:10px;}
.col2{ float:left; width:49%;}
.col2_pad{ margin-right:2%;}
.innheadh2{background:#f2f2f2; border-left:5px solid #29a6d0; font-size:18px; padding:6px 5px 6px 10px; font-weight:normal; color:#333; margin:0px 0px 10px 0px;}
.leftpad{ padding-left:25px;}
.iphonemain { border:1px solid #dcdcdc; margin-top:10px; margin-bottom:15px;}
.iphonetitle{ background:url(../images/tabtopbg.gif) repeat-x top; padding:0px 0px 0px 13px; margin:0px; color:#5e5e5e; font-size:14px; font-weight:bold; height:37px; line-height:37px; position:relative;}
.iphone_viewmorebg { position:absolute; right:0; top:-2px; }
.iphone_viewmorebg a{color:#5280B5; background:url(../images/bl_ar.gif) no-repeat 0px 4px; text-decoration:none; font-size:11px; font-weight:bold; padding:0px 10px 0px 10px; line-height:33px;}
.iphone_viewmorebg a:hover{text-decoration:underline;}
.iph_row{ overflow:hidden;}

.grid{ width:100%; background-color:#c3ccdc; border-collapse:separate; border-spacing: 1px;}
.grid td{background-color:#e8ecf3; padding:6px; vertical-align:top;}
.grid td.head{background-color:#3f6289; color:#FFFFFF;}
.career{ padding:18px 0 0 0;}
.crr{ overflow:hidden; padding-bottom:10px;}
.crr_left{ float:left; width:105px; font-family: 'proxima_nova_rgbold', arial;}
.crr_right{ margin-left:105px;}
.crr_right ul{ padding:0px 0px 0px 10px; margin:0px; list-style:none;}
.crr_right ul li{ padding:0px 0px 0px 12px; margin:0px 0px 8px 0px; background:url(../images/sublink_bul.gif) no-repeat 0px 5px; line-height:16px; }
.linktop{ text-align:right; padding-bottom:20px;}
.contactlist{ overflow:hidden; padding-bottom:8px;}
.rtlpad{ padding-right:4%;}
.contactlist p{ text-align:left;}
.conpad{ text-align:left;}

.sa_form{ margin:0; padding:10px 10px 0 0;}
.sa_main{ overflow:hidden; padding-bottom:10px;}
.sa_left{ float:left; width:47%;}
.sa_right{ float:right; width:47%;}
.sa_field{ overflow:hidden; padding-bottom:15px;}
.sa_field label{ float:left; width:125px; padding:4px 0 0 0; font-size:14px;}
.sa_field .field{ margin-left:130px;}
.sa_field .field input[type=text], .sa_field .field input[type=password], .sa_field .field textarea, .sa_field .field select{box-sizing:border-box;-moz-box-sizing:border-box; width:100%; *width:70%;  outline:none;}
.sa_field label span{ color:#F00;}
.sa_form h2{ padding:0 0 15px 0;  font-weight:normal; font-size:17px; color:#222; line-height:1; margin:0;}
.sa_file{ width:100%;}
.drops{ padding:0 0 15px 0; display:none;}

.portbox{ overflow:hidden; }
.port_dotedline {background:url(../images/doted-line.gif) repeat-x center; height:44px;}
.portleft{ float:left; border: 1px solid #dedede; width:262px;}
.portleft img{ display:block;}
.portright{ margin-left:277px;}
.port-title {color: #29a6d0; display: block; font-size: 18px; padding-bottom: 5px;}
.port-title a {  text-decoration: none;}
.port-title a:hover { text-decoration: none;}
.toppad{ padding-top:5px;}
a.morelink{ text-decoration:none; font-size:13px; display:inline-block; background:url(../images/morelink_ar.png) no-repeat 90% 50% #29a6d0; color:#FFF; padding:8px 20px 8px 10px;}
a:hover.morelink{ text-decoration:none;  background:url(../images/morelink_ar.png) no-repeat 90% 50% #0494c5;}
.portlink{ padding:10px 0px 0px 0px; margin:0px; text-align:right;}


div.sabrosus {	padding:3px; margin:3px; margin-bottom:10px;  }
div.sabrosus a {background:#efefef;    color: #666;    display: inline-block;    font-size: 13px;    line-height: 1;    margin: 0 2px 0 0;    padding: 6px 0;    text-align: center;    text-decoration: none;    width: 22px;}
div.sabrosus a:hover {	background: #e7e7e7; }
div.sabrosus span.current {
	background: #29a6d0;
    color: #fff;
    display: inline-block;
    font-size: 13px;
    font-weight: normal;
    line-height: 1;
    margin: 0 2px 0 0;
    padding: 6px 0;
    text-align: center;
    width: 22px;
}
div.sabrosus span.disabled {	border-right: #929292 1px solid; padding-right: 5px; border-top: #929292 1px solid; padding-left: 5px; padding-bottom: 2px; border-left: #929292 1px solid; color: #929292; margin-RIGHT: 2px; padding-top: 2px; border-bottom: #929292 1px solid;}


#page-margins { float: right; padding: 0 0 5px 0 !important; width:262px; margin-left:20px !important;}
.port_title{ padding:0 0 5px 0 !important;}



.inner_header{ height:125px;}
.subnav{ background:url(../images/subnav.png) top repeat-x; height:44px; position:relative;}
.subnav ul{ list-style:none; margin:0; padding:0; list-style:none; height:44px; overflow:hidden;}
.subnav ul li{ list-style-type:none; margin:0; padding:0; list-style-type:none; float:left; height:44px; min-width:110px; text-align:center;}
.subnav ul li a{ height:34px; display:block; color:#4f4f4f; padding:10px 15px 0 15px; text-decoration:none;}
.subnav ul li a:focus{ background:none;}
.sublist_toggle { display:  none; background: url(../images/sublist_toggle.png) center center no-repeat; float:right; height:34px; width:50px; }
.active-mention{ position:absolute; bottom:0; left:0; background:url(../images/tab_act.png) 0px 0px no-repeat; width:110px; height:8px;}

h3.subtitle{font-size:20px; line-height:1; color:#e28f14; text-transform:uppercase; padding:0 0 8px 0; margin:0; font-weight:normal;}
ul.listing{ padding:0 0 6px 5px; margin:0; list-style:none;}
ul.listing li{padding:0 0 0 14px; margin:8px 0; list-style-type:none; background:url(../images/bullet3.png) 0px 5px no-repeat;}
.inr_left p{ /*text-align:justify !important;*/ padding:0 0 12px 0;}
.technohead{font-weight:normal;font-size:18px;line-height:1;padding:8px;margin:0;background:#f0f0f0; font-family: 'proxima_nova_rgregular', arial;}
ul.tech-list{ overflow:hidden; padding-bottom:15px; margin:0; list-style:none;}
ul.tech-list li{ list-style-type:none; margin:0; float:left; width:25%; height:70px; text-align:center; border:1px solid #e7e7e7; box-sizing:border-box;-moz-box-sizing:border-box;}
.tatva_advantage{ background:#264d7c url(../images/big_tick.png) right center no-repeat; padding:25px; color:#FFF; margin:15px 0px;}
.tatva_advantage h3{ font-size:32px; font-weight:normal; color:#FFF; line-height:1; padding:0 0 15px 0;}
.tatva_advantage ul{ list-style:none; padding:0; margin:0;}
.tatva_advantage ul li{ list-style-type:none; padding:2px 0 0 30px; margin:0 0 12px 0; background:url(../images/bullet5.png) 3px 0px no-repeat; font-size:14px;}
.stick { position: fixed; z-index: 1000; top:90px; }
.rightstick { position: fixed; z-index: 1000; top:230px; }
a.nav-active { /*background:url(../images/subnav_h.png) top center no-repeat;*/ color:#20a2ce;}
#rtl{ width:215px;}
.botpad{ padding-bottom:20px;}
.inner_header{ height:125px;}
.topbar{ /*min-height:125px;*/ background:#FFF; width:100%;}



.aln_right{ text-align:right; padding:0 0 10px 0;}
.portfolio{ overflow:hidden; padding-bottom:20px; padding-top:5px; padding-right:106px; position:relative;}
.col3{ width:48%; float:left; background:#FFF;}
.col3spac{ float:left; margin-right:4%;padding-top:3px;}
.portfolio_block{ border:1px solid #dedede; min-height:495px;}
.portfolio-image{ padding:6px; text-align:center;}
.portfolio-image img{ width:100%; display:block;}
.portfolio-content{ background:url(../images/storytop.png) top repeat-x; padding:10px;}
.portfolio-content h3{ font-weight:normal; font-size:16px; font-family: 'proxima_nova_rgregular', arial; padding:0 0 8px 0; border-bottom:1px solid #e5e5e5; margin:0 0 8px 0;}
.portfolio-content h3 a{ }
.portfolio-content h4{ color:#333; font-weight:normal; font-size:15px; padding:0 0 8px 0; border-bottom:1px solid #e5e5e5; margin:0 0 8px 0;}
a.readmore{ background:url(../images/linkarrow2.png) right 4px no-repeat; padding:0 18px 0 0; line-height:110%;}
.portfolio-content p{ text-align:left;}

.get-started{ padding:8px 0 4px 0 !important; font-weight:normal !important; font-size:22px !important;}

/* .footer-bottom span{position:relative;display:inline-block; padding:0 10px;} */
.footer-bottom span{padding:0 7px;}
.footer-bottom span a{ display:block;}
//.footer-bottom span:before{content:"|"; position:absolute; left:0; top:0;}
.footer-bottom span:nth-child(1){
	padding-left: 0;
}


.footer-bottom span:nth-child(1):before{display:none}

.blog-body ol li {
   /*list-style-type: decimal;*/
}
//.blog-title{ border-bottom-color: #ddd;border-bottom-style: solid;border-bottom-width: 1px;}

/* 12-aug */
.titlerss{ border-bottom-color: #ddd;border-bottom-style: solid;border-bottom-width: 1px; float: left;  width: 100%; display: block;}
h1.blog-title{float:left;}
.rss-link {
    background: rgba(0, 0, 0, 0) url(../images/rss.gif) no-repeat scroll 0 0;
    color: #e06a12 !important;
    display: block;
    float: right;
    font: 14px/25px tahoma,Arial,Helvetica,sans-serif;
    text-decoration: none;
}
.breadcumb .rss-link{width: auto !important;}
.rss-link a {
    color: #e06a12 !important;
    padding-left: 30px;
}


@media (max-width:992px) {

    .banner { height:245px;  }
    h1{ font-size:24px;}

.contact-sidebar{padding:10px;}

    .leftside{ float:none; width:auto; margin-bottom:10px;}
    .rightside{ float:none; width:auto; margin:0 -1%;}
    .rsbox{ width:48%; float:left; margin:0 1%;}
    .iphoneimg{ width:28%;}
    .iphoneimg img{ width:100%;}
    .chartimg img{ max-width:520px;}
    .post-body img{ max-width:520px;}
    .col2{ float:none; width:auto;}
    .col2_pad{ margin:0 0 20px 0;}

    .middlearea{ padding:18px 0;}


    ul.tech-list li{ width:33.33%; }
    .inner_header .container{ padding:0 10px 0 10px !important;}
    .banner h2{ padding:70px 0 0 10px;}
    .get-started{ font-size:18px !important;}

    .portleft{ width:200px;}
    .portleft img{ width:100%; display:block;}
    .portright{ margin-left:215px;}
    /***** End *****/
}

.iph_col4{ float:left; width:25%; padding:10px 0; text-align:center;}
.iph_col4 p{ text-align:center !important; padding-top:5px;}

.iph_col2{ float:left; width:50%; padding:10px 0; text-align:center;}
.iph_col2 p{ text-align:center !important; padding-top:5px;}

.iph_col1{ float:left; width:100%; padding:10px 0; text-align:center;}
.iph_col1 p{ text-align:center !important; padding-top:5px;}

h1.inr_title { border-bottom:1px solid #ddd; padding: 0 0 6px 0;}



/***** Place iPhone portrait view CSS under here (320px) *****/
@media only screen and (max-width: 767px) {

    #contentarea{ padding:0;}
    .blog-title{padding-top: 7px !important;}
    .leftside{ float:none; width:auto; margin-bottom:10px;}
    .rightside{ float:none; width:auto;}
    .iphoneimg img{ width:100%;}
    .subboxes{ width:auto; float:none; }
    .subboxes_spac{ float:none; width:auto; background:url(../images/dot.png) center center repeat-x; min-height: 30px;}
    :root .subboxes_spac { min-height: 30px \0/IE9; }
    .wt{ width:auto;}
    .sublinks ul{ float:none; padding:0 0 0 3px;}
    .tabimg{ display:none;}
    .tabcont{ float:none; width:auto; border:1px solid #ddd; /*background: url(../images/tabbg.gif) repeat-x center top #EFEFEF;*/ padding:10px 10px 15px 10px;}
    .banner{ display:none;}
    .inr_left{ margin-right:0px;}
    .inr_right{float:none; width:auto; display:none;}
    .responsive-menu{display:block !important;}
    .leftlist{ width:auto; float:none;}
    .rightlist{ width:auto; float:none;}
    .breadcumb{ display:none;}
    h1{ padding:0 0px 7px 0px !important; margin:0px 0px 8px 0px !important; font-size:22px; border-bottom:1px solid #ddd;}
    .chartimg img{ width:100%;}
    .post-body img{width:100%;}
    .col2{ float:none; width:auto;}
    .col2_pad{ margin:0 0 20px 0;}
    .iph_col4{width:50%; }
    .iph_col1{width:auto; text-align:center; float:none; padding-bottom:10px; }
    .iph_col2{width:auto; float:none; }

    .crr_left{ float:none; width:auto; font-weight:bold; padding-bottom:3px;}
    .crr_right{ margin-left:0;}
    .contactlist{ padding-bottom:0px;}
    .contactlist .leftlist{ padding-bottom:20px;}


    .sa_form{ margin:0; padding:0;}

    .sa_left{ float:none; width:auto;}
    .sa_right{ float:none; width:auto;}
    .sa_field label{ float:none; width:auto; padding:4px 0 6px 0; display:block;}
    .sa_field .field{ margin-left:0px;}
    .field .sa_right{ padding-top:10px;}
    .blank{ display:none !important;}
    .drops{display:block;}

    .portleft{ float:none; width:262px; border: 1px solid #ddd; text-align:center;}
    .portleft img{ display:block;}
    .portright{ margin:10px 0 0 0;}
    #page-margins { float: none; padding: 0 0 20px 0 !important; width: 300px; margin-left:0px !important;}


    .ppy-switch-enlarge{ display:none !important;}

    .get-started{ font-size:16px !important;}


    /***** End *****/
}



/***** Place iPhone landscape view CSS under here (480px) *****/
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .img_res{ max-width:none; height:auto;}

    /***** End *****/
}

.bl_text{ padding-bottom:9px;}
.post-body ul{ list-style:none; padding:0 0 0 5px; margin:0;}
.post-body ul li{ padding:0px 0px 0px 24px; margin:5px 0px 5px 0px; background:url(../images/sublink_bul.gif) no-repeat 10px 7px; line-height:18px; }






/**************************** ADD New Blog CSS 8-8-14 ****************************/
.blogcontent h1{ margin: 0 0 20px 0; position:relative;} 
.blogcontent h1 a{ position:absolute; right:0; top:5px; background:url(../images/ar_left.png) left 2px no-repeat;}
a.backlink{ font-size:12px !important; background:url(../images/ar_left.png) left 3px no-repeat; line-height:1; padding:0 0 0 15px; text-transform: none; }
.blogcontent{ padding:5px 5px 10px 10px;}
.blogpost{ padding:0 0 28px 0;}
.blogpost table{ width:auto; border-collapse:collapse; border-spacing: 0; border:0;}
.posted_date{ width:80px; padding-right:12px; background:url(../images/blog_spac.png) right center no-repeat;}
.posted_date .date{ float:left; width:40px; background:#5279a5; padding:9px 0; font-size:22px; color:#FFF; text-align:center; border-radius:4px; line-height:1;}
.month_year{ float:left; padding:5px 0 0 6px;  color:#999; font-size:12px; text-transform:uppercase; line-height:1.2;}
.post_description{ padding:14px 0; text-align:justify; line-height:18px;}
.top_bord{border-top:1px solid #ddd; margin-top:15px;}
.post_title{ font-size:17px; padding:0 0 0 12px; color:#5280b5;}
.post_title a{ color:#5280b5;}
.post_title a:hover{ text-decoration:none; color:#254870;}
.post_footer{ background:url(../images/blog_doted.png) 0px 0px repeat-x;}
.pf_block{ background:url(../images/blog_doted.png) 0px bottom repeat-x; overflow:hidden; padding:10px 0; font-size:11px; text-transform:uppercase; }
.pf_block .left{ float:left; color:#999;}
.pf_block .right{ float:right;}
a.readmore{ background:url(../images/ar_next.png) right 3px no-repeat; line-height:1; padding:0 15px 0 0;}
.blog_pager{ overflow:hidden; padding-bottom:10px;}
.blog_pager .left{ float:left; width:20%;}
.blog_pager .middle{ float:left; width:58%; text-align:center;}
.blog_pager .right{ float:right; width:20%; text-align:right;}
.blog_pager .middle a{ background:#FFF; border:1px solid #ddd; display:inline-block; line-height:1; padding:6px 7px; color:#666; text-decoration:none; margin:0 3px;}
.blog_pager .middle a.active, .blog_pager .middle a.active:hover{ background:#5279a5; border:1px solid #5279a5; color:#FFF;}
.blog_pager .middle a:hover{ color:#5280b5;}
.post_description h2{ color:#de7e20; font-weight:normal; font-size:17px; padding:8px 0 10px 0;}
.post_description h4{ color:#222; font-size:12px; padding:0 0 2px 0;}
.post_description p{ padding-bottom:13px;}
.post_description ul{ padding:0px 0px 0px 5px; margin:0 0 13px 0; list-style:none;}
.post_description ul li{ padding:0px 0px 0px 12px; margin:5px 0px 5px 0px; background:url(../images/sublink_bul.gif) no-repeat 0px 5px; line-height:16px; }



@media only screen and (max-width: 767px) {
    .blogcontent{ padding:0;}
    .posted_date .date{ float:none; width:46px; padding:9px 0 0 0;}
    .posted_date{ width:46px; padding-right:10px; background:none;}
    .posted_date .date{ border-radius:4px 4px 0 0; padding:5px 0 0 0;}
    .post_title{ font-size:14px; padding:0; color:#5280b5; }
    .month_year{ float:none;  background:#5279a5; width:46px; text-align:center; color:#FFF; padding:0 0 5px 0; border-radius:0 0 4px 4px; font-size:11px;}
    .blog_pager .left{ display:none;}
    .blog_pager .middle{ float:none; width:auto; padding-bottom:10px;}
    .blog_pager .right{ display:none;}






    .inner_header{ height:auto;}
    h3.subtitle{font-size:17px;}
    ul.tech-list li{ width:50%;  }
    .tatva_advantage{ background:#264d7c; padding:15px; }
    .tatva_advantage h3{ font-size:24px;}
    .stick { position: static; top: auto; z-index: 10000; }

    .subnav{ display:none;}
    .subnav{ background:#dedede; background-image:none; height:auto;}
    .subnav ul{height:auto; overflow:visible; background:#f2f2f2;}
    .subnav ul li{float:none; height:auto; border-bottom:1px solid #ddd;}
    .subnav ul li a{ height:27px; display:block; color:#4f4f4f; padding:12px 15px 0 15px; text-decoration:none;}
    .subnav ul li a:hover{color:#20a2ce;}
    a.nav-active {background:none; color:#20a2ce;}
    .inner_header .container{ padding:10px 10px 0 10px !important;}
    .portfolio{ padding-right:0;}

    .col3{ width:auto; float:none;}
    .col3spac{ margin: 0 0 20px 0; float:none; }
    .portfolio_block{ min-height:200px;}
    .portfolio-image{ padding:0; margin:0 auto; width:288px;}
    .portfolio-image img{  display:inline-block;}

    .middlearea{ padding:10px 0;}

    h1.inr_title { margin-top:12px !important;}

    /***** End *****/
}




/********************* NEW ADD 30-10-14 *********************/
.tatva_advantage{  position:relative;}
.inr_contact{ position:absolute; top:25px; right:30px; text-align:right;}
a.contact_link{ color:#FFF; padding:6px 0 0 0; font-size:18px; text-decoration:none; height:36px; display:inline-block; cursor:pointer;}
.contact_link img{ vertical-align:-4px;}
.inr_contact_detail{background:url(../images/contact_bg.png); width:200px; text-align:left; position:absolute; top:42px; right:0; display:none; }
.inr_contact_detail input[type=text], .inr_contact_detail textarea,.inr_contact_detail input[type=email]{ width:100%; border:none; margin-bottom:8px; outline:none; box-sizing:border-box;-moz-box-sizing:border-box;}
.inr_contact_detail .inputbutton{ background:#11335c; color:#FFF;}
.inr_contact_detail .inputbutton:hover{ background:#031f41;}
.icd_pad{ padding:10px;}
.contact_link.active{ border-radius:6px 6px 0px 0px;}
a.contact_link.active{ background:url(../images/contact_arrow.png) bottom center no-repeat;}
.bot_pad{ padding-bottom:4px !important;}


@media only screen and (max-width: 980px) {
    .tatva_advantage{background:#264d7c;}
    .inr_contact{ position:static; text-align:left;}
    .inr_contact_detail{ position:static; }
    .inr_contact_detail{ width:auto;}
}




.brd-only{ height:30px;}
.brd-only .subnav{ display:none;}
.brd-only h1{display:none;}
.inr_left h1{ border-bottom:1px solid #ddd; padding:0px 0px 10px 0px; margin:0px 0px 15px 0px; }
.port_bord{ border:1px solid #ddd;}


/********************* NEW ADD 20-08-15 *********************/
.fwc{  background:#f5a023; text-align:center; height:114px; margin-bottom:10px;}
.fwc img{ display:inline-block;}

/********************* NEW ADD 21-10-15 *********************/
.flag{margin-bottom:-1px; padding-right:3px;}

/********************* NEW ADD 29-10-2015 *******************/
.chart_table{border-collapse:collapse; border-spacing: 0; border:0; width:100%;}
.chart_table td{ vertical-align:top; padding:0;}
.chart_table .concept_screening{ width:48%; border:1px solid #e7e7e7; border-top:none; background:#f6f6f6;}
.chart_table h3{ font-size:17px;  font-family: 'proxima_nova_rgregular', arial; color:#FFF; padding:7px; font-weight:normal;}
.chart_table .design_development{ width:48%; border:1px solid #e7e7e7; border-top:none; background:#f6f6f6;}
.chart_table .support{ width:48%; border:1px solid #e7e7e7; border-top:none; background:#f6f6f6;}
.chart_table .testing{ width:48%; border:1px solid #e7e7e7; border-top:none; background:#f6f6f6;}
.chart_table .ar_left{ text-align:left; vertical-align:middle;}
.chart_table td.ar_top{ text-align:center; background:url(../images/flow_ar_top.png) center bottom no-repeat; height:20px;}
.chart_table td.ar_bottom{ text-align:center; background:url(../images/flow_ar_bottom.png) top center no-repeat; height:20px;}
.chart_table .ar_right{ text-align:right; vertical-align:middle;}

ul.chartdata{ padding:6px;}
ul.chartdata li{ margin:0 0 6px 0; line-height:110%; background:url(../images/bullet2.png) 0px 5px no-repeat; padding:0 0 0 13px; list-style-type: none;}

.clr_flowtable{ background:#264d7c;}

/********************* NEW ADD 4-11-2015 *******************/
blockquote.quote{ display:block; padding: 15px 20px 15px 45px; margin: 0 0 20px; position: relative; -moz-box-shadow: 2px 2px 15px #ccc; -webkit-box-shadow: 2px 2px 15px #ccc; box-shadow: 2px 2px 15px #ccc; font-style: italic; font-size: 14px;font-weight: bold; color: #3f6289; italic; background: #eee; padding: 0 3px; }

p.high_text { background:#f1f1f1; padding:10px !important; text-align:center !important; margin-bottom:18px;  font-family: 'proxima_novasemibold', arial; font-size:14px;}

.nopad { padding-bottom:0px !important;
}


.con-col3{ width:33.33%; float:left;}

@media (max-width:767px) {
    .con-col3{ width:auto; float:none; padding-bottom:10px;}

}


.emailfield {width:100%; box-sizing: border-box; -moz-box-sizing: border-box; }

/* * * * * * * File * * * * * * */
.fileUpload {position: relative; overflow: hidden; margin: 0 0 0 10px;}
.fileUpload input.upload {position: absolute; top:0; right:0; margin:0; padding:0; cursor:pointer; opacity:0; filter: alpha(opacity=0);}

.btn_file{ position:absolute; top:0; right:0; display: inline-block; height:26px;  padding: 4px 8px 2px 8px; box-sizing: border-box; -moz-box-sizing: border-box;   font-size: 13px;  line-height: 1.42857143;  text-align: center;  white-space: nowrap;  vertical-align: middle;  color: #444; background-color: #ddd;}
.btn_file:hover{  color: #444;  background-color: #ccc;}

.textbox{width:100%; height:26px; box-sizing: border-box; -moz-box-sizing: border-box; background:#FFF;  border: 1px solid #ddd;    color: #666;    font-family: Verdana;    font-size: 12px;    margin: 0;    padding: 4px;}
.sa_left, .sa_right, .sal{ position:relative;}
.sal { padding-bottom:10px;
}
@media only screen and (max-width: 767px) {
    .sa_right .btn_file{ top:10px;}

}

input:focus,textarea:focus,select:focus,file:focus,#uploadBtn1:focus {border-color: #29a6d0 !important;}


*{ -webkit-tap-highlight-color: #29a6d0  !important; }





.portall_link{ position:absolute; top:0; right:0; text-decoration:none; background:url(../images/viewmore.png) no-repeat; width:80px; height:494px; text-indent:-9999px;}


@media (max-width:767px) {
    .portall_link{ position:static; text-indent:inherit !important; text-decoration:none !important; width:auto !important; background-image:none !important; height:44px; box-sizing:border-box;-moz-box-sizing:border-box; border:1px solid #75cfee; display:inline-block; padding:10px 20px 0 20px; font-size:18px; font-family: 'proxima_nova_rgbold', arial; color:#55bfe4; text-decoration:none; text-transform:uppercase; transition: all ease 0.4s; -moz-transition: all ease 0.4s; -webkit-transition: all ease 0.4s;}
    .portall_link:hover{ background:#29a6d0; border:1px solid #29a6d0; color:#FFF; text-decoration:none !important;}
    .pfl{ text-align:center; margin-top:20px;}
}


/*================================14-12-2015=======================================*/

.sub-title {color: #e28f14; font-size: 20px;}
.inr_left .posted_date {width: auto; color: #929292; font-size: 12px;}
.posted-img {margin-top:5px;}
.post_footer {border: 1px solid #E5E5E5; border-left:0px; border-right:0px; margin-bottom: 10px; }
//.about-details {margin-top: 5px;}
.social-icon {display: inline-block; }
.social-icon .icon { background: url(../images/social-icon.png) no-repeat 0 0; width: 16px; height: 16px; background-color: #000; background-position:0px 0px;    background-size: 100px;   display: inline-block;}
.social-icon .icon.twitter {background-position: -21px 0px;}
.social-icon .icon.linkedin {background-position: -83px 0px;}
.social-icon .icon.googleplus {background-position: -41px 0px;}
.pf_block .left{padding-top: 7px;}
.blog_pager{padding: 20px 0 25px 0;}
.blog_pager .middle a.active, .blog_pager .middle a.active:hover{background: #29a6d0;border:1px solid #29a6d0;}
.blog_pager .middle a{padding: 6px 10px;}
.blog_pager .middle a:hover{color: #294e7a;}
.social-icon .icon{float: left;margin-left: 5px;}
.right-side-social{padding: 10px 0 5px;}
.right-side-social a{display: inline-block;margin-right: 3px;transition: all 0.4s ease 0s;}
.right-side-social a:hover{opacity: 0.8;}
.social-icon a{float: left;}
.social-icon a img{float: left;margin-left: 5px;}
.inr_right{float: right;width: 22%;}
.inr_left{float: left;width: 76%;margin-right: 0;}
.about-inner-block{padding:15px 12px 0 12px;}
.about-inner-block p{font-size: 14px;line-height: 18px;text-align:left;}
.post_footer{margin-bottom: 20px;}
.tags{padding: 8px 0;}
.tags a{color: #29a6d0;display: inline-block;line-height: 22px;}
.sub-title a{color: #e28f14;display: block;text-decoration: none;}
.sub-title a:hover{color:#29a6d0;}
.social-icon a:hover{opacity: 0.8;}
.sub-title{font-size: 24px;}
.margtop{margin-top: 20px;}
.readmore-btn{background:#29a6d0;color: #fff;padding: 5px 10px;display: inline-block;float:right;}
.blog-block .readmore-btn{margin-bottom:12px;}
.blog-detail{display:table;}
.readmore-btn:hover{opacity: 0.8;color: #fff;text-decoration: none;}
.blog-block{display: table;box-sizing:border-box;}
.blog-block, .blog-body{overflow: hidden;}
.blog-block-detail{display:block;max-width: 100%;overflow: hidden;}
.posted-img,.blog-body{display: table-cell;vertical-align: middle;}
.posted-img{padding-right: 15px;padding-bottom: 0px;}
.blog-block-detail .posted-img{padding-right: 0px;}
.posted-img img{max-width: inherit;}
.blog-body{width: 100%;padding-bottom: 12px;display: block;}
.blog-body ul li{padding:0px 0px 0px 12px; margin:7px 0px 7px 0px; background:url(../images/sublink_bul.gif) no-repeat 0px 6px; line-height:22px;}
.blog-body ol{ -moz-padding-start: 40px;
    display: block;
    list-style-type: decimal;
    margin-block-end: 1em;
    margin-block-start: 1em;}
.blog-body ol li{/*display: list-item;*/
    text-align: match-parent;}
.blog-body ol li ul li{display:block;}
.tag1{font-size: 22px;}
.tag2{font-size: 20px;}
.tag3{font-size: 18px;}
.tag4{font-size: 16px;}
.tag5{font-size: 19px;}
.tag5{font-size: 21px;}


@media(max-width: 991px){
    a.htlink{font-size: 11px;}
    .right-side-social a{margin-right: 0;}
    .right-side-social a img{width: 24px;height: auto;}
}

@media(max-width: 767px){
    .inr_left{width: 100%;padding-top: 10px;}
    .inr_right{width: 100%;float: left;display: block;}
    .blog_pager{padding: 0 0 25px 0;}
    .blog-block{display: block;}
    .posted-img{display: block;}
    .posted-img img{width: 100%;}
    .sub-title{font-size: 22px;}
}

/* Custom Css */
.righttitle {background: none repeat scroll 0 0 #294e7a; padding: 6px 0 0 12px;}
.right-menu ul li a{color: #4672a6;}
.right-menu ul li { color: #4672a6; }
.readmore-btn:hover{ background-color:  #29a6d0;}
.blog_pager .middle a.active, .blog_pager .middle a.active:hover{ background-color: #294e7a;border: 1px solid #294e7a;}
.tagcloud a{color: #4672a6;}
.foot-social a.gplus{ background-position: -123px 0;}
.foot-social a.gplus:hover{background-position: -123px -40px;}
.post_footer .left a {
	color: #4672a6;
}

.readmore-btn{	
    background: url("../images/morelink_ar.png") no-repeat scroll 90% 50% #294e7a;
    font-size: 13px;
    padding: 8px 20px 8px 10px;
}


.sidebar-social{  padding:10px 0 3px 0;}
.sidebar-social a{ height:33px; width:33px; display:inline-block; margin-right:8px; background:url(../images/social-sidebar.png) 0px 0px no-repeat; transition: all ease 0.4s; -moz-transition: all ease 0.4s; -webkit-transition: all ease 0.4s;}
.sidebar-social a.linkedin{ background-position:0px 0px;}
.sidebar-social a.linkedin:hover{ background-position:0px -40px;}
.sidebar-social a.facebook{ background-position:-41px 0px;}
.sidebar-social a.facebook:hover{ background-position:-41px -40px;}
.sidebar-social a.twitter{ background-position:-82px 0px;}
.sidebar-social a.twitter:hover{ background-position:-82px -40px;}
.sidebar-social a.gplus{ background-position:-123px 0px;}
.sidebar-social a.gplus:hover{ background-position:-123px -40px;}

.share-on-flex{display: inline-flex;color:#999;}