body {height:100%; min-height:100%; background:#FFF; margin:0; padding:0; font-size:16px; font-family:'proxima_nova_rgregular', Arial; color: #4f4f4f;}
html {height:100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;}


@font-face {
	font-family: 'proxima_nova_rgregular';
	src: url('../fonts/proximanova-regular-webfont.eot');
	src: url('../fonts/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),  url('../fonts/proximanova-regular-webfont.woff2') format('woff2'),  url('../fonts/proximanova-regular-webfont.woff') format('woff'),  url('../fonts/proximanova-regular-webfont.ttf') format('truetype'),  url('../fonts/proximanova-regular-webfont.svg#proxima_nova_rgregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'proxima_novasemibold';
	src: url('../fonts/proximanova-semibold-webfont.eot');
	src: url('../fonts/proximanova-semibold-webfont.eot?#iefix') format('embedded-opentype'),  url('../fonts/proximanova-semibold-webfont.woff2') format('woff2'),  url('../fonts/proximanova-semibold-webfont.woff') format('woff'),  url('../fonts/proximanova-semibold-webfont.ttf') format('truetype'),  url('../fonts/proximanova-semibold-webfont.svg#proxima_novasemibold') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'proxima_nova_rgbold';
	src: url('../fonts/proximanova-bold-webfont.eot');
	src: url('../fonts/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),  url('../fonts/proximanova-bold-webfont.woff2') format('woff2'),  url('../fonts/proximanova-bold-webfont.woff') format('woff'),  url('../fonts/proximanova-bold-webfont.ttf') format('truetype'),  url('../fonts/proximanova-bold-webfont.svg#proxima_nova_rgbold') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* * * * * *  html 5 fix  * * * * * */
section, article, header, footer, nav, aside, hgroup, details, figure { display: block; }


/* * * * * *  General  * * * * * * */
table { border-collapse:collapse; border-spacing: 0; border:0;  /******  cellspacing="0"  ******/}   
/*cellspacing for table { border-collapse:separate; border-spacing: 5px; } // cellspacing="5"    align (center) =  table { margin: 0 auto; }*/    
th, td { padding:0px; }

a{ color:#29a6d0; text-decoration:none; outline:none;}
a:hover{ color:#29a6d0; text-decoration:underline;}
img{ border: none; max-width: 100%; height: auto;}
h1, h2, h3, h4, h5, h6, ul, li, p{ margin:0; padding:0;}
h1, h2, h3, h4, h5, h6, strong, b{ font-weight:normal;}
strong, b{font-family: 'proxima_novasemibold', arial; }
ul, li{ list-style:none; list-style-type:none;}
.clear{ clear:both; padding:0; margin:0; height:0;}
.clr{ clear:both;}
input[type=text], input[type=password],input[type=email]{ border:#ddd 1px solid; padding:4px; margin:0; font-family:Calibri, Arial; font-size:14px; color:#666;  }
textarea { border:#ddd 1px solid; padding:4px; margin:0; font-family:Calibri, Arial; font-size:14px; color:#666; }
select { border:#ddd 1px solid; margin:0; padding:3px; font-family:Calibri, Arial; font-size:14px; color:#666; }
.inputbutton { background:#517aaa; border:none; height:27px; padding:0 17px; cursor:pointer; font-family:Calibri, Arial; font-size:14px; color:#FFF; vertical-align:middle; overflow:visible; }
.inputbutton:hover{ background:#376293;}
p{ /*text-align:justify;*/ padding:0 0 12px 0; line-height:22px;}




/* * * * * *  Wrapper  * * * * * */
#wrapper{ width:100%; min-width:320px; position:relative; min-height:100%; height:auto !important; }
.container{ width:980px; margin:0 auto;}



/* * * * * *  Header  * * * * * */
#header{ background:url(../images/headerbg.png) bottom repeat-x; min-height:91px; color:#e0e0e0; width:100%; position:fixed; z-index:100000;  }
#header .container{ position:relative; z-index:10000;}
.logo{ position:absolute; top:7px; left:0;}
.callus{ position:absolute; top:7px; right:0; z-index:10000; height:30px; }
a.calluslink{ background:url(../images/callus.png) 8px 6px no-repeat; display:inline-block; font-size:14px; color:#FFF; width:108px; height:30px; padding:6px 0 0 28px; opacity:1; border:1px solid #415a77; box-sizing: border-box; -moz-box-sizing: border-box; text-decoration:none;}
a.calluslink:hover{opacity:1;  border:1px solid #29a6d0; background:#29a6d0 url(../images/callus.png) 8px 6px no-repeat;}
a.calluslink.open{ background:#29a6d0 url(../images/callus.png) 8px 6px no-repeat; opacity:1;  border:1px solid #29a6d0; }
.call-block{ position:relative;}
.callus-popup{ display:none; position:absolute; box-shadow: 0 4px 6px rgba(0,0,0,.2); top:30px; right:0px; padding:10px 5px 10px 10px; font-size:14px; box-sizing: border-box; -moz-box-sizing: border-box;  background:#FFF; width:240px; border-top:4px solid #29a6d0;}
.callus-popup ul{ list-style:none; padding:0; margin:0;}
.callus-popup ul li{ list-style-type:none; padding:0 0 8px 0; margin:0; overflow:hidden; position:relative; color:#4f4f4f; font-family: 'proxima_novasemibold', arial;}
.callus-popup ul li span{ position:absolute; top:1px; left:87px; font-family: 'proxima_nova_rgregular', arial; color:#747474;}
.callus-popup ul li img{ vertical-align:-1px; margin-right:3px;}



/* * * * * *  Nav  * * * * * */
#navigation{ position:absolute; right:0px; top:48px; z-index:1000;}
.toggleMenu { display:  none; background: url(../images/menu-icon.png) center center no-repeat; opacity:0.7; float:right; height:70px; width:66px; color: #fff; }
.nav { list-style:none; padding:0; margin:0; }
.nav:before, .nav:after { content: " "; display: table; }
.nav:after { clear: both; }
.nav ul { list-style: none; width:200px; }
.nav a.navlink { height:28px; padding:14px 18px 0 18px; font-size:13px; color:#e0e0e0; text-decoration: none; font-family: 'proxima_nova_rgbold', arial; text-transform:uppercase;  }
//.nav .sub-menu a.navlink {}
.nav li { position: relative; list-style-type:none; padding:0; margin:0; }
.nav a.navlink:hover{ background:#29a6d0; color:#FFF;}
.nav a.parent:hover, .nav li:hover a.parent{ background:#29a6d0 url(../images/nav_h.png) bottom center no-repeat; color:#FFF;}
.nav > li { float: left;  }
.nav > li > a { display: block; }
.nav li ul { position: absolute; left: -9999px; }
.nav > li.hover > ul { left: 0; border-top:5px solid #29a6d0; }
.nav li li.hover ul { left: 100%; top: 0; }
.nav li li a {text-decoration: none; padding:5px 7px; height:auto; color:#3c444e; font-size:14px; display: block; background: #FFF; position: relative; z-index:100; border-left: 1px solid #e0e0e0; border-right: 1px solid #e0e0e0; border-bottom: 1px solid #e0e0e0; }
.nav li li li a {text-decoration: none; padding:5px 7px; height:auto;  color:#3c444e; background:#716d99; z-index:200; border-bottom: 1px solid #e0e0e0; }
.nav li li a:hover{ background:#f9f9f9; color:#20a2ce;}



/* * * * * *  Content  * * * * * */
#content{ padding:0 0 415px 0;}
#footer{ width:100%; position:absolute; bottom:0; background:#f0f0f0; border-top:1px solid #d2d2d2; height:auto;padding-bottom: 10px; }
.footer-top{ overflow:hidden; padding:18px 0 15px 0;}
.footer-bottom{ overflow:hidden; position:relative; padding:18px 0 0 0; border-top:1px solid #c8c8c8; font-size:14px; padding-right:250px;}
.footer-bottom p{ padding:7px 0 0 0; margin:0; line-height:1.3;}
.footer-bottom a{ color:#4f4f4f;}
.footer-bottom a:hover{color:#29a6d0; text-decoration:none;}
.footer-bottom span{ padding:0 7px;}
.foot-logo{ position:absolute; top:15px; right:0;}
.foot-logo img{ vertical-align:middle; margin-left:8px;}

.col25{ width:25%; float:left;}
.margin30{ margin-right:30px;}
.footer-top h3{ color:#464646 !important; font-family: 'proxima_nova_rgbold', arial !important; font-weight:normal; font-size:18px !important; padding:0 0 10px 0 !important; line-height:1 !important;}
.footer-top li{ padding:0 0 7px 0;  line-height:1.1;}
.footer-top li a{color:#464646; font-size:14px;}
.footer-top li a:hover{color:#29a6d0; text-decoration:none;}
.foot-callus{ border-left:1px solid #ddd; box-sizing:border-box; -moz-box-sizing:border-box; padding:2px 0 0 20px;}
.foot-callus ul{ list-style:none; padding:0; margin:0;}
.foot-callus ul li{ font-size:14px; list-style-type:none; padding:0 0 12px 0; margin:0; overflow:hidden; position:relative; color:#4f4f4f; font-family: 'proxima_novasemibold', arial;}
.foot-callus ul li span{ position:absolute; top:1px; left:87px; font-family: 'proxima_nova_rgregular', arial; color:#747474;}
.foot-callus ul li img{ vertical-align:-1px; margin-right:3px;}

.foot-email{ background:url(../images/dot.png) top repeat-x; padding:10px 0; line-height:1; font-size:14px;}
.foot-email a{ color:#464646;}
.foot-email a:hover{ color:#29a6d0; text-decoration:none;}
.foot-social{ background:url(../images/dot.png) top repeat-x; padding:10px 0 3px 0;}
.foot-social a{ height:33px; width:33px; display:inline-block; margin-right:8px; background:url(../images/social.png) 0px 0px no-repeat; transition: all ease 0.4s; -moz-transition: all ease 0.4s; -webkit-transition: all ease 0.4s;}
.foot-social a.linkedin{ background-position:0px 0px;}
.foot-social a.linkedin:hover{ background-position:0px -40px;}
.foot-social a.facebook{ background-position:-41px 0px;}
.foot-social a.facebook:hover{ background-position:-41px -40px;}
.foot-social a.twitter{ background-position:-82px 0px;}
.foot-social a.twitter:hover{ background-position:-82px -40px;}


.home-top{ padding:18px 0 30px 0; min-height:150px;}
.home-top .container{ position:relative;}
.ht-left{ margin:0 220px 0 0; min-height:150px;}
.ht-left h1{  padding:0 0 8px 0 !important;  }
.ht-right{ position:absolute; right:0; top:0; width:175px; padding-left:20px; background:url(../images/vdot.png) top left repeat-y; min-height:120px; }
a.htlink{ height:28px; display:block; color:#4f4f4f; margin-bottom:13px; font-size:14px;}
a.htlink:hover{ color:#294e7a; text-decoration:none;}
a.htlink span{ vertical-align:middle; margin-right:7px; display:inline-block; width:28px; height:28px; text-align:center; border-radius:14px;}
a.htlink.info span{ background:#294e7a url(../images/ic-info.png) center center no-repeat; }
a.htlink.proposal span{ background:#294e7a url(../images/ic-proposal.png) center center no-repeat; }
.mi-cmmi{ background:url(../images/dot.png) top repeat-x; padding:10px 0 0 0;}

.figures{ border-top:1px solid #dedede; padding:25px 0 0 0; margin:22px 0 0 0; overflow:hidden;}
.col4{ width:25%; float:left;}
.col4spac{ border-left:1px solid #ddd; padding-left:10px;}
.figure_detail{ color:#fe9c1d; font-size:36px; line-height:0.8;}
.figure_detail span.sub{ font-size:12px !important; color:#767676 !important; text-transform:uppercase; }
.figure_detail span.name{font-size:24px; font-family: 'proxima_nova_rgbold', arial; color:#767676; font-weight:normal; text-transform:uppercase;}




.home-services{ background:#c57133 url(../images/home-services.png) left center no-repeat; padding:35px 0 0 0; min-height:340px; -webkit-background-size: cover; -moz-background-size: cover; background-size: cover;}

h2.hm-subtitle{ text-align:center; font-size:36px; font-family: 'proxima_nova_rgbold', arial; line-height:1; margin:0; padding:0 0 13px 0; color:#6c6d6e;}
.hm-bigtext{ text-align:center; font-size:18px; padding:0 0 25px 0; }
.home-services h2.hm-subtitle, .home-services .hm-bigtext, .home-technologies h2.hm-subtitle, .home-technologies .hm-bigtext{ color:#FFF;}


.home-services ul{ list-style:none; padding:0; margin:0; overflow:hidden;}
.home-services ul li{ list-style-type:none; padding:0; margin:15px 0; float:left; width:25%; display:table;}
.home-services ul li a{ color:#FFF; display:table-cell; height:60px; vertical-align:middle; padding-right:30px; padding-left:50px; font-size:16px; text-decoration:none; transition: all ease 0.4s; -moz-transition: all ease 0.4s; -webkit-transition: all ease 0.4s; }
.home-services ul li.last a{ padding-right:0px;}
.home-services ul li.ad a{ background:url(../images/sr1.png) 0px 0px no-repeat;}
.home-services ul li.pdm a{ background:url(../images/sr2.png) 0px 0px no-repeat;}
.home-services ul li.bda a{ background:url(../images/sr3.png) 0px 0px no-repeat;}
.home-services ul li.es a{ background:url(../images/sr4.png) 0px 0px no-repeat;}
.home-services ul li.cl a{ background:url(../images/sr5.png) 0px 0px no-repeat;}
.home-services ul li.ma a{ background:url(../images/sr6.png) 0px 0px no-repeat;}
.home-services ul li.tq a{ background:url(../images/sr7.png) 0px 0px no-repeat;}
.home-services ul li.ud a{ background:url(../images/sr8.png) 0px 0px no-repeat;}


.home-services ul li a:hover{ background-position:0px -60px;}

.home-industries{ padding:50px 0 20px 0;}
.home-industries ul{ list-style:none; padding:10px 0; margin:0 -15px; overflow:hidden;}
.home-industries ul li{ list-style-type:none; padding:0 15px; margin:0 0 30px 0; float:left; width:20%; box-sizing: border-box; -moz-box-sizing: border-box;}
.home-industries ul li a{ height:127px; padding-top:80px; padding-left:15px; padding-right:15px; display:block; text-align:center; color:#4f4f4f; text-decoration:none; background:#FFF; border:1px solid #e5e5e5; box-sizing: border-box; -moz-box-sizing: border-box; transition: all ease 0.3s; -moz-transition: all ease 0.3s; -webkit-transition: all ease 0.3s;}
.home-industries ul li a.ind1{ background:url(../images/ind1.png) center top no-repeat;}
.home-industries ul li a.ind2{ background:url(../images/ind2.png) center top no-repeat;}
.home-industries ul li a.ind3{ background:url(../images/ind3.png) center top no-repeat;}
.home-industries ul li a.ind4{ background:url(../images/ind4.png) center top no-repeat;}
.home-industries ul li a.ind5{ background:url(../images/ind5.png) center top no-repeat;}
.home-industries ul li a.ind6{ background:url(../images/ind6.png) center top no-repeat;}
.home-industries ul li a.ind7{ background:url(../images/ind7.png) center top no-repeat;}
.home-industries ul li a.ind8{ background:url(../images/ind8.png) center top no-repeat;}
.home-industries ul li a.ind9{ background:url(../images/ind9.png) center top no-repeat;}
.home-industries ul li a.ind10{ background:url(../images/ind10.png) center top no-repeat;}

.home-industries ul li a:hover{background-position:center -120px; background-color:#29a6d0; border:1px solid #29a6d0; color:#FFF;}


.home-technologies{ background:#348ecc url(../images/home-technologies.png) left center no-repeat; padding:35px 0 35px 0; min-height:310px; -webkit-background-size: cover; -moz-background-size: cover; background-size: cover;}
.home-technologies ul{ list-style:none; padding:5px 0; margin:0; overflow:hidden;}
.home-technologies ul li{ list-style-type:none; padding:0; margin:0; width:12.5%; text-align:center; float:left;}
.home-technologies ul li a{ color:#FFF; text-decoration:none; font-size:14px;}
.home-technologies ul li a div{ height:93px;}
.h-techbtn{ text-align:center; padding:30px 0 0 0;}
a.btn_wth{ height:44px; box-sizing:border-box;-moz-box-sizing:border-box; border:1px solid #FFF; display:inline-block; padding:10px 20px 0 20px; font-size:18px; font-family: 'proxima_nova_rgbold', arial; color:#FFF; text-decoration:none; text-transform:uppercase; transition: all ease 0.4s; -moz-transition: all ease 0.4s; -webkit-transition: all ease 0.4s; }
a.btn_wth:hover{ background:#FFF; color:#29a6d0;}

.home-success{ padding:50px 0;}
.home-success ul{ list-style:none; overflow:hidden; padding:0; margin:0 -15px;}
.home-success ul li{ list-style:none; padding:0 15px; width:50%; box-sizing: border-box; -moz-box-sizing: border-box; float:left; margin:0 0 30px 0;}
.ss-block{ overflow:hidden; background:#FFF; border:1px solid #d5d5d5; padding:10px; box-shadow: 1px 1px 3px rgba(0,0,0,.2); box-sizing: border-box; -moz-box-sizing: border-box;}
.btn-ss{ text-align:center; padding:10px 0 0 0;}
a.btn_blue{ height:44px; box-sizing:border-box;-moz-box-sizing:border-box; border:1px solid #75cfee; display:inline-block; padding:10px 20px 0 20px; font-size:18px; font-family: 'proxima_nova_rgbold', arial; color:#55bfe4; text-decoration:none; text-transform:uppercase; transition: all ease 0.4s; -moz-transition: all ease 0.4s; -webkit-transition: all ease 0.4s; }
a.btn_blue:hover{ background:#29a6d0; border:1px solid #29a6d0; color:#FFF;}
.port_img{ float:left; width:55%;}
.port_content{ float:left; width:45%; font-size:14px; box-sizing:border-box;-moz-box-sizing:border-box; padding-left:10px; }
.port_content h3{ font-size:16px !important; font-family: 'proxima_nova_rgregular', arial  !important; margin:0 !important; padding:0 0 6px 0 !important;}
.pro_type{ font-size:14px; color:#aeaeae; padding:0 0 4px 0; border-bottom:1px solid #dadada; margin:0 0 10px 0; }


.home-whytatva{ background:#143358 url(../images/home-whytatva.png) left center no-repeat; padding:35px 0 35px 0; min-height:300px; -webkit-background-size: cover; -moz-background-size: cover; background-size: cover;}
.why-tatva{ float:left;}
.why-tatva h2{ font-size:36px; color:#FFF; padding:0 0 15px 0;}
.why-tatva ul{ list-style:none; padding:0; margin:0;}
.why-tatva li{ list-style-type:none; padding:0 0 0 25px; margin:0 0 12px 0; background:url(../images/tick.png) 0px 0px no-repeat; color:#FFF;}


.so-links{ width:210px; color:#FFF; float:right; background:url(../images/so-linksbg.png); border:1px solid #29486e; border-radius:10px; padding:20px;}
.so-links h3{font-family: 'proxima_nova_rgbold', arial; font-size:18px; padding:0 0 12px 0; line-height:1;}
.so-links ul{ list-style:none; padding:0; margin:0;}
.so-links li{list-style-type:none; padding:0; margin:0 0 10px 0;}
.so-links li a{ display:block; color:#FFF; background:url(../images/bullet.png) 0px 5px no-repeat; padding:0 0 0 13px;}
.so-links li a:hover{color:#29a6d0; text-decoration:none;}
#header .foot-email{ padding-bottom:0;}

@media (max-width:992px) {
	.container{ width:auto; padding:0 15px; box-sizing:border-box;-moz-box-sizing:border-box; }

	.logo{ left:0; top:15px;}
	.logo img{ width:190px;}
	.callus{ right:10px;}
	.nav a.navlink {padding:14px 11px 0 11px;  }

	.foot-logo{ width:150px; text-align:right; top:10px;}
	.footer-bottom{ padding-right:150px;}
	.footer-bottom p br{ display:none;}

	.col25{ width:22%;}
	.margin30{ margin-right:20px;}
	.foot-callus{ width:34% !important;}

	.ht-left h1{ font-size:22px !important;}
	.ht-right{ right:15px;}

	.home-services ul li a{ font-size:14px;}

	.home-industries ul{ margin:0 -10px;}
	.home-industries ul li{ padding:0 10px; margin:0 0 30px 0;}

	.home-success ul{ margin:0 -10px;}
	.home-success ul li{ padding:0 10px;}


	.home-industries ul li a{padding-left:8px; padding-right:8px;}

	.port_img{width:50%;}
	.port_content{ width:50%; }
	.btn-ss{padding:0;}



	/***** End *****/
}


@media (max-width:767px) {
	.container{ width:auto; padding:0 15px;}
	.scrum-model img{ border: none; max-width: 100%; height: auto; text-align: center;}

	#header .container{ padding:0px !important;}
	#header{ min-height:70px; position:static; background:url(../images/headerbg2.png) repeat; }
	.logo{ top:4px; left:5px;}
	.logo img{ width:190px;}
	.callus{ right:10px; display:none;}

	#navigation{ position:static; right:auto; top:50px;}
	.active {display: block;}
	.nav > li {float: none;}
	.nav a.navlink { border-top:1px solid #244874; font-size:15px; height:auto; padding:10px 15px 10px 15px; }
	.nav a.parent:hover, .nav li:hover a.parent{ background-image:none;}
	.nav a.navlink:hover{ background:#193e6b;}
	.nav > li > a.parent { background: url(../images/downArrow.png) center right no-repeat;}
	.nav > li > a:hover.parent { background:#193e6b url(../images/downArrow.png) center right no-repeat;}
	.nav > li.hover > a.parent { background:#193e6b url(../images/upArrow.png) center right no-repeat;}
	.nav ul { display: block; width: 100%;}
	.nav > li.hover > ul, .nav li li.hover ul { position: static;}
	.nav li li a { padding:9px 10px 9px 20px; }
	.nav li li li a { padding:9px 10px 9px 30px;}

	#content{ padding:0 0 0 0;}
	#footer{ width:100%; position:static; bottom:0; background:#f0f0f0; border-top:1px solid #d2d2d2; height:auto; overflow:hidden;}
	.footer-bottom{ padding:18px 0 10px 0; text-align:center;}
	.footer-bottom p{ text-align:center;}
	.foot-logo{ width:auto; text-align:center; position:static;}

	.col25{ width:auto; float:none; margin:0 0 10px 0;}
	.margin30{ margin-right:0;}
	.foot-callus{ border:none; padding:10px 0 0 0; width:auto !important;}

	.home-top{ padding-bottom:0;}
	.ht-left{ margin:0;}
	.ht-right{ position:static; width:auto; padding-left:0; background:url(../images/dot.png) top left repeat-x; min-height:50px; }
	a.htlink{ width:50%; float:left; height:28px; margin:13px 0; font-size:13px;}
	a.htlink span{ margin-right:2px;}
	.htl{ overflow:hidden;}

	.figures{ padding:0px; margin:8px 0 5px 0; border:none; }
	.col4{ width:50%; float:left;border-top:1px solid #ddd;}
	.col4spac{ border-left:0px solid #ddd; /*border-top:1px solid #ddd;*/ padding:0;}
	.figure_detail{ padding:15px 0; font-size:24px;}

	.figure_detail span.name{font-size:20px; font-family: 'proxima_nova_rgbold', arial; color:#767676; font-weight:normal; text-transform:uppercase;}



	.home-services{ padding-top:25px;}
	.home-services ul li{  width:50%; margin:5px 0;}
	.home-services ul li a{ padding-right:10px; font-size:16px; }
	.home-services ul li.last a{ padding-right:10px;}

	h2.hm-subtitle{ font-size:24px;}
	.hm-bigtext{  font-size:16px; padding:0 0 15px 0;}


	.home-industries{ padding:30px 0 10px 0;}
	.home-industries ul{ margin:0 -10px;}
	.home-industries ul li{ padding:0 10px; width:50%; margin-bottom:20px;}
	.home-technologies{ padding-top:25px;}
	.home-technologies ul li{ width:33.3%;}
	.home-success{padding:30px 0;}
	.home-success ul{ margin:0 -15px;}
	.home-success ul li{ padding:0 15px; width:auto; float:none;}

	.port_img{width:auto; text-align:center; float:none}
	.port_content{ width:auto; float:none; padding:15px 0 0 0; border-top:1px solid #ddd; }


	.why-tatva{ float:none; padding:0 0 20px 0;}
	.so-links{ width:auto; color:#FFF; float:none;}

	.home-whytatva{ padding:25px 0 25px 0;}
	.why-tatva h2{ font-size:26px; }
	.footer-top{ padding-bottom:0;}


	/***** End *****/
}


@media (max-width:479px) {

	.home-services ul li{  width:auto; float:none;}

	.home-technologies ul li{ width:50%;}



	/***** End *****/
}





/* Float Shadow */
.shadow {
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	position: relative;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform;
	transition-property: transform;

}
.shadow:before {
	pointer-events: none;
	position: absolute;
	z-index: -1;
	content: '';
	top: 100%;
	left: -15%;
	height: 20px;
	width: 130%;
	opacity: 0;
	background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 60%);
	background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 60%);
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform, opacity;
	transition-property: transform, opacity;
}
.shadow:hover {
	-webkit-transform: translateY(-5px);
	transform: translateY(-5px);
}
.shadow:hover:before {
	opacity: 1;
	-webkit-transform: translateY(5px);
	transform: translateY(5px);
}


.spin div{ -webkit-transition:-webkid-transform .60s ease-out;
	-moz-transition:-moz-transform .60s ease-out;
	-ms-transition:-ms-transform .60s ease-out;
	-o-transition:-o-transform .60s ease-out;
	transition:transform .60s ease-out;
}
.spin:hover div { -webkit-transform:rotate(360deg); -moz-transform:rotate(360deg); -ms-transform:rotate(360deg); -o-transform:rotate(360deg); transform:rotate(360deg) }
.inner-title{color: #e28f14; font-size: 20px;}
ol > li ,.number-title{/*color: #e28f14;*/ font-size: 16px;}
/* 20/07/2017 @tatvasoft */
.wp_syntax {
    width:auto!important;
}


/* 14/02/2018 Comment section */
label {display: block;}

textarea {vertical-align: top;}

input[type=url], input[type=password], input[type=email] {
    border: #ddd 1px solid;
    padding: 4px;
    margin: 0;
    font-family: Calibri, Arial;
    font-size: 14px;
    color: #666;
}
input[type=text]:focus,input[type=email]:focus,input[type=url]:focus, textarea:focus{
  margin: 5px 1px 3px 0px !important;
  border: 1px solid #29a6d0 !important;
}

.reply{padding-bottom: 30px;}
  
.comment-content p{padding: 0 0 10px 0 !important;}

.comment-author b,.comment-author span {vertical-align: super;}

.comment-awaiting-moderation{padding:0 0 0 0 !important;}

/* Start Date - 21/08/2018 - GTM Post Image Responsive */
.blog-body ol ol.aws-component-list{list-style-type: lower-alpha !important;}
.blog-body ol ol.aws-component-list li{list-style: unset;list-style-type:unset;}
.blog-body ol ol.aws-component-list li::before{content: unset;}
.blog-body .aws-lambda-component{width: 100%;margin: 15px 0px 15px 0px;}
.aws-lambda-component th{background-color: #dddddd;border: 1px solid #A9A9A9;text-align: center;padding: 8px;}
.aws-lambda-component td{border: 1px solid #A9A9A9;padding: 8px;width: 50%;}
/* End Date - 21/08/2018 - GTM Post Image Responsive */

.blog_pager .middle .labelnext{padding: 10px 0 0px 0;}
.blog_pager .middle .labelprev{padding: 0 0 10px 0;}


/* Start : Blog Post Comment */
.comments-area .comment-metadata a { font-size: 14px; line-height: 18px; }
.comments-area .avatar { border-radius: 50%; position: relative; top: 2px; margin-right: 5px; }
.comments-area .children { padding-left: 30px; }
.comments-area .comment-awaiting-moderation { font-style: italic; }

@media (max-width:479px) {
	.comments-area .children{padding-left: 30px}
	.comments-area .comment-list{padding-left: 20px}
	#rc-imageselect, .g-recaptcha, #commentform .gglcptch  {transform:scale(0.7);-webkit-transform:scale(0.7);transform-origin:0 0;-webkit-transform-origin:0 0;}
	.error[for="hiddenRecaptcha"]{margin-top: -20px; margin-bottom: 15px;}
}

#commentform div.error{color: #e45a5a;}
.comments-area .comment-meta {display: flex;justify-content: space-between;align-items: center;}
.comments-area .comment-body .reply{padding-bottom:0; text-align: right;padding-top: 15px;padding-bottom: 12px;}
.comments-area .comment-metadata a { color:#143358; }
.comments-area .comment-content p{ padding-bottom: 0!important; }
.comments-area .comment-body:not(:last-child) { border-bottom: 1px solid #ddd; }
.comments-area .comment-list{border: 1px solid #ddd;padding: 20px 30px 0;margin-bottom: 0;}
.comment-list .comment:not(:first-child){border-top: 1px solid #ddd;}
.comment-list .comment .children{padding-top: 20px;}
.comment-list .depth-1:not(:first-child){padding-top: 20px;}
.inr_left .comment-heading{padding-bottom: 12px;}
.comment-metadata .edit-link a{color: #FFF;}
.comment-reply-link, .comment-edit-link,.comment-respond .comment-reply-title a {background: #294e7a;border: none;padding: 6px 20px 6px 20px;cursor: pointer;font-family: Calibri, Arial;font-size: 14px;color: #FFF;vertical-align: middle;overflow: visible;text-decoration: none;}
.comment-reply-link:hover, .comment-edit-link:hover,.comment-respond .comment-reply-title a:hover{color: #FFF!important;text-decoration: none!important;background: #0494c5;}
.comment-respond .comment-reply-title{margin-bottom: 10px;}
.comment-respond .comment-reply-title small{float: right;}
article.comment-body {padding-bottom: 20px;outline: none;}

.comments-area .comment-respond{padding: 20px 30px;}
.comments-area .comment-form{display: flex;flex-wrap: wrap;justify-content: space-between;}
.comments-area .comment-form p,.comments-area .comment-form .g-recaptcha{width: 100%;}
.comments-area .comment-form p input{width: 100%;height: 40px; line-height: 40px; padding: 4px 10px;box-sizing: border-box;}
.comments-area .comment-form p.form-submit input{width: auto; height: auto; line-height: initial;background: #294e7a;border: none;padding: 6px 20px 6px 20px;cursor: pointer;font-family: Calibri, Arial;font-size: 16px;color: #FFF;}
.comments-area .comment-form p.form-submit input:hover,.comments-area .comment-form p.form-submit input:focus{color: #FFF!important;background: #0494c5;border: none!important;outline: none;}
.comments-area .comment-form p.form-submit{text-align: right;}
.comments-area .comment-form p textarea{width: 100%;height: 90px;box-sizing: border-box;resize: vertical;max-height: 200px;}
.comments-area .comment-form p input:focus,.comments-area .comment-form p textarea:focus{margin: 0!important; border:1px solid #0494c5!important;outline: none; }
.comments-area .comment-form-author,.comments-area .comment-form-email{width: 48%!important;}
.comments-area .comment-list .comment-respond{padding: 20px 0;border-bottom: 1px solid #ddd;}
.comments-area .comment-author{padding-right: 10px;}
.comments-area .comment-author b{word-break: break-all;}


@media (max-width:767px) {
	.comments-area .comment-list{padding: 15px 20px 0;}
	.comments-area .children{padding-left: 20px;}
	.comments-area .comment-respond{padding: 20px;}
}
@media (max-width:576px) {
	.comments-area .comment-meta{display: block;margin-bottom: 10px;}
	.comments-area .comment-form-author, .comments-area .comment-form-email{width: 100%!important;}
	.comments-area .comment-form{display: block;}
	.comment-respond .comment-reply-title{position: relative;padding-top: 40px}
	.comment-respond .comment-reply-title small{float: none; position: absolute;right: 0;top:0;}
}

/* End : Blog Post Comment */